<div>
    <div class="participant-summary-img-panel">
        <a href="#!/user/{{user.key}}">
            <img ng-src="{{user.profileImage.url}}?type=square" class="kex-thumbnail-with-label kex-thumbnail-user">
        </a>
    </div>
    <div class="participant-summary-info-panel">
        <div>
            <a href="#!/user/{{user.key}}"><strong>{{user.firstName}}</strong></a>
        </div>
        <div ng-show="{ORGANIZER: true}[type]">
            <aggregate-rating value="user.eventOrganizerRating">
            </aggregate-rating>
        </div>
        <div>
            <karma-hours type="{{karmaPointsDisplayType}}" karma-points="summaryKarmaPoints"></karma-hours>
        </div>
    </div>
</div>
