<div>

    <div class="row row-no-margin" ng-show="timelineEvents.length == 0">
        <div class="col-md-12">
            <h4><em>No events recorded at this time</em></h4>
        </div>
    </div>

    <div class="timeline dynamic" ng-show="timelineEvents.length != 0">
        <div class="spine animated"></div>
        <div ng-class="{'column column_left': ($index % 3 == 0), 'column column_right': ($index % 3 == 1), 'row_separator': ($index % 3 == 2) }"
             ng-repeat="event in timelineEvents">

            <div class="timeline_element blog_post animated" ng-class="{'first': $first, 'last': $last}" ng-show="($index % 3) != 2">

                <div class="title">
                    <div class="row">
                        <div class="col-md-12">

                            <div class="pull-left">
                                <h4 class="margin-0">
                                    <strong>
                                        <a href="#!/event/{{event.key}}"><strong>{{event.title}} </strong></a>
                                    </strong>
                                </h4>

                                <div>
                                    <div class="pull-left">
                                        <a href="#!/org/{{event.organization.key}}">
                                            <img ng-src="{{FbUtil.getImageUrl(event.organizationDetails.page.name, 'square')}}" class="kex-thumbnail-with-label kex-thumbnail-org-small">
                                        </a>
                                    </div>
                                    <div class="pull-left">
                                        <div>
                                            <a href="#!/org/{{event.organization.key}}">
                                                {{event.organizationDetails.orgName}}
                                            </a>
                                        </div>
                                        <div><small>{{event.startTime | date:'mediumDate'}}</small></div>
                                    </div>
                                </div>

                            </div>

                            <div class="pull-right responsive-div-pad-left">
                                <div>
                                    <h4 class="pull-right margin-0">
                                        <karma-hours karma-points="event.karmaPoints"></karma-hours>
                                    </h4>
                                </div>
                                <div>
                                    <div class="pull-right">
                                        <event-registration-info
                                            registration-info="event.registrationInfo"
                                            user-registration-info="event.userEventSearchInfo.registrationInfo"
                                            type="{USER:'USER-PAST', ORG:'ORG-PAST'}[timelineType]">
                                        </event-registration-info>
                                    </div>
                                </div>
                                <div>
                                    <div ng-show="selfProfileView && EventUtil.canWriteReview(event)" class="pull-right">
                                        <event-user-rating
                                            user-rating="event.currentUserRating"
                                            event-key="event.key">
                                        </event-user-rating>
                                    </div>
                                </div>
                                <div>
                                    <div ng-hide="selfProfileView && EventUtil.canWriteReview(event)" class="pull-right">
                                        <aggregate-rating value="event.rating">
                                        </aggregate-rating>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="row" ng-show="event.impactSummary">
                        <div class="col-md-12">
                            <div class="border-top-1">
                            </div>
                            <div>
                                <div class="vertical-panel-padding impact-summary" ng-bind-html-unsafe="event.impactSummary | noHTML | newlines">
                                </div>
                            </div>
                        </div>
                    </div>

                </div>


                <div class="img_container" ng-show="event.album"><img ng-src="{{event.album.coverPhotoUrl}}"></div>
                <div class="footer">
                    <kex-fb-comments href="{{EventUtil.getImpactViewUrl(event)}}" num-posts="3"></<kex-fb-comments>
                </div>
            </div>

        </div>
        <!-- <div class="row_separator animated" id="timeline_date_separator_2012"></div> -->
    </div>

</div>
