<div>

    <div ng-show="timelineSetupTracker.isPending()">
        <loading-message msg="karma timeline" class="in-tab"></loading-message>
    </div>

    <div class="row row-no-margin"
         ng-show="!timelineSetupTracker.isPending() && (processedEvents.length == 0) && !selfProfileView">

        <div class="col-md-12">
            <h4><em>No events recorded at this time</em></h4>
        </div>

    </div>

    <div class="timeline dynamic" ng-show="!timelineSetupTracker.isPending()">
        <div class="spine animated"></div>

        <div class="column column_left" ng-show="selfProfileView">
            <div class="timeline_element blog_post animated first new-event"
                 ng-class="{'last' : (processedEvents.length == 0)}">

                <div class="header">
                    <form novalidate class="new-event-form form-horizontal form-no-margin" role="form" name="newEventForm">
                        <div class="form-header">
                            Share upcoming or past karma opportunities
                        </div>

                        <div class="form-group">
                            <input type="text"
                                placeholder="Karma opportunity title"
                                name="titleInput"
                                class="form-control"
                                ng-model="newEvent.title"
                                ng-ex-focus="expandNewEventForm=1"
                                required/>
                        </div>
                        <div class="input-error-msg" ng-show="newEventSubmitted && newEventForm.titleInput.$error.required">
                            Please specify a title
                        </div>


                        <div ng-show="expandNewEventForm">

                            <textarea rows="3" class="form-control"
                                      name="descriptionInput"
                                      ng-model="newEvent.description"
                                      placeholder="Karma opportunity description"
                                      required>
                            </textarea>
                            <div class="input-error-msg" ng-show="newEventSubmitted && newEventForm.descriptionInput.$error.required">
                                Please specify a description
                            </div>

                            <div>

                                <div class="form-group date">
                                    <input type="text"
                                        placeholder="mm/dd/yyyy"
                                        name="dateInput"
                                        class="form-control"
                                        ng-model="newEvent.date"
                                        ng-pattern="/\s*(\d{1,2})\/(\d{1,2})\/(\d{4})\s*/"/>
                                </div>

                                <div class="form-group karma-hours">
                                    <input type="text"
                                        name="karmaHoursInput"
                                        id="karmaHoursInput"
                                        class="form-control"
                                        ng-model="newEvent.karmaHours"
                                        float-geq-zero/>
                                    <label for="karmaHoursInput" class="control-label">karma hours</label>
                                </div>

                            </div>
                            <div class="input-error-msg" ng-show="newEventSubmitted && newEventForm.karmaHoursInput.$error.floatGeqZero">
                                Karma hours must be greater than or equal to zero
                            </div>
                            <div class="input-error-msg" ng-show="newEventSubmitted && newEventForm.dateInput.$error.pattern">
                                The date must be specified as "mm/dd/yyyy"
                            </div>

                            <div class="post ">
                                <button class="btn btn-primary btn-sm"
                                        btn-loading="timelineUpdateTracker.isPending()"
                                        data-loading-text="Processing..."
                                        ng-click="post()"
                                        ng-disabled="newEventSubmitted && newEventForm.$invalid">Post</button>
                            </div>

                        </div>

                    </form>
                </div>

            </div>
        </div>
        <div class="row_separator" ng-show="selfProfileView">
        </div>

        <div ng-class="{'column column_left': ($index % 3 == 0), 'column column_right': ($index % 3 == 1), 'row_separator': ($index % 3 == 2) }"
             ng-repeat="event in processedEvents">

            <div class="timeline_element blog_post animated"
                 ng-class="{'first': ($first && !selfProfileView), 'last': (lastProcessedEvent.key == event.key) }"
                 ng-show="($index % 3) != 2">

                <div class="upcoming-label" ng-show="isUpcomingEvent(event)">
                    Upcoming
                </div>

                <div class="delete-icon" ng-show="!event.managedEvent && selfProfileView" ng-click="delete(event)">
                    <i class="icon-remove"></i>
                </div>

                <div class="header" ng-show="!event.managedEvent">

                    <div class="cf">

                        <div class="title-and-thumbnail-col">
                            <h4>
                                <strong>
                                    <strong>{{event.title}} </strong>
                                </strong>
                            </h4>

                            <div class="thumbnail-row">
                                <div class="thumbnail-img">
                                    <img ng-src="{{KexUtil.strConcat(user.profileImage.url,'?type=square')}}">
                                </div>
                                <div class="thumbnail-org-and-date">
                                    <div class="event-date">
                                        {{event.startTime | date:'mediumDate'}}
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="karma-hour-col cf" ng-show="event.karmaPoints != 0">
                            <div class="karma-hour">
                                <h4>
                                    <karma-hours karma-points="event.karmaPoints"></karma-hours>
                                </h4>
                            </div>
                        </div>

                    </div>

                    <div class="impact-summary">
                        <truncate-with-toggle text="event.description" limit="500" toggle-expand-text="(more)">
                        </truncate-with-toggle>
                    </div>

                </div>

                <div class="header" ng-show="event.managedEvent">

                    <div class="cf">


                        <div class="title-and-thumbnail-col">
                            <h4>
                                <strong>
                                    <a href="#!/event/{{event.key}}"><strong>{{event.title}} </strong></a>
                                </strong>
                            </h4>

                            <div class="thumbnail-row">
                                <div class="thumbnail-img">
                                    <a href="#!/org/{{event.organization.key}}">
                                        <img ng-src="{{FbUtil.getImageUrl(event.organizationDetails.page.name, 'square')}}">
                                    </a>
                                </div>
                                <div class="thumbnail-org-and-date">
                                    <div class="org-name">
                                        <a href="#!/org/{{event.organization.key}}">
                                            {{event.organizationDetails.orgName}}
                                        </a>
                                    </div>
                                    <div class="event-date">
                                        {{event.startTime | date:'mediumDate'}}
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="karma-hour-col cf">
                            <div class="karma-hour">
                                <h4>
                                    <karma-hours karma-points="event.karmaPoints"></karma-hours>
                                </h4>
                            </div>
                            <div class="registration-info">
                                <event-registration-info
                                    registration-info="event.registrationInfo"
                                    user-registration-info="event.userEventSearchInfo.registrationInfo"
                                    type="{USER:'USER-PAST', ORG:'ORG-PAST'}[timelineType]">
                                </event-registration-info>
                            </div>
                            <div class="event-rating" ng-show="selfProfileView && EventUtil.canWriteReview(event)">
                                <event-user-rating
                                    user-rating="event.currentUserRating"
                                    event-key="event.key">
                                </event-user-rating>
                            </div>
                            <div class="event-rating" ng-hide="selfProfileView && EventUtil.canWriteReview(event)">
                                <aggregate-rating value="event.rating">
                                </aggregate-rating>
                            </div>
                        </div>

                    </div>


                    <div class="impact-summary" ng-show="event.impactSummary">
                        <truncate-with-toggle text="event.impactSummary" limit="500" toggle-expand-text="(more)">
                        </truncate-with-toggle>
                    </div>

                </div>


                <div class="img_container" ng-show="event.album">
                    <img ng-src="{{event.album.coverPhotoUrl}}">
                </div>

                <div class="footer">
                    <!-- <kex-fb-comments href="{{EventUtil.getImpactViewUrl(event)}}" num-posts="3"></<kex-fb-comments> -->
                </div>
            </div>

        </div>
    </div>

    <div class="timeline-show-more" ng-show="!timelineSetupTracker.isPending() && hasMoreEvents">
        <button class="btn btn-primary btn-sm"
                btn-loading="hasMoreEventsProcessing"
                data-loading-text="Processing..."
                ng-click="fetchMoreEvents()">See more</button>
    </div>

</div>
