<div>
    <div class="org-event-summary-img-panel">
        <a href="#!/org/{{org.key}}" class="thumbnail-rounded-corners kex-thumbnail-with-label">
            <img ng-src="{{FbUtil.getImageUrl(org.page.name, 'square')}}" class=" kex-thumbnail-org">
        </a>
    </div>
    <div class="org-event-summary-info-panel">
        <div>
            <div>
                <strong>
                    <a href="#!/org/{{org.key}}">
                        {{org.orgName}}
                    </a>
                </strong>
            </div>
            <div>
                <aggregate-rating value="org.eventRating">
                </aggregate-rating>
            </div>
            <div>
                <karma-hours type="BRIEF" karma-points="org.karmaPoints"></karma-hours>
            </div>
        </div>
    </div>
</div>
