<div ng-hide="fetchedParticipants.data.length == 0">
    <div class="row">
        <div class="col-md-12">
            <h4 class="event-sidebar-panel-header">
                {{header}} <span ng-hide="{ORGANIZER: true}[type]">({{participantCount}})</span>
            </h4>
        </div>
    </div>
    <div>
        <div ng-repeat="user in fetchedParticipants.data" class="event-sidebar-element">
            <event-participant-summary user="user" type="type"></event-participant-summary>
        </div>
        <div class="row">
            <div class="col-md-12">
                <button class="btn btn-link" ng-show="participantCount-fetchedParticipants.data.length>0" ng-click="fetchMore({type: type});">
                    See more ({{participantCount-fetchedParticipants.data.length}})
                </button>
            </div>
        </div>
    </div>
</div>
