<div class="upcoming-events row row-no-margin">
    <div class="col-md-9">
        <div ng-hide="pagedEvents.firstPageProcessed">
            <loading-message msg="upcoming events" class="in-tab"></loading-message>
        </div>

        <div class="row row-no-margin" ng-show="(pagedEvents.elements.length == 0) && pagedEvents.firstPageProcessed">
            <div class="col-md-12">
                <h4><em>No upcoming events</em></h4>
            </div>
        </div>

        <div ng-repeat="event in pagedEvents.elements">

            <h4 ng-show="event.showHeader" class="date">
                    {{ event.startTime | date:event.dateFormat }}
            </h4>

            <div class="panel panel-default panel-clickable" ng-click="setLocation('#!/event/' + event.key)">
                <div class="panel-body">

                    <div class="row">
                        <div class="col-md-2">

                                <h4 class="margin-top-0">
                                    {{event.startTime|date:'shortTime'}}
                                </h4>
                                <event-registration-info
                                    registration-info="event.registrationInfo"
                                    user-registration-info="event.userEventSearchInfo.registrationInfo"
                                    type="{USER:'USER-UPCOMING', ORG:'ORG-UPCOMING'}[searchType]">
                                </event-registration-info>
                        </div>
                        <div class="col-md-10">
                                <div class="pull-left">
                                        <h4 class="margin-0">
                                            <strong>{{event.title}}</strong>
                                        </h4>
                                        <span ng-show="event.locationQuickSummary">{{event.locationQuickSummary}}</span>
                                </div>
                                <div class="pull-right">
                                        <h4 class="text-right margin-top-0">
                                            <karma-hours karma-points="event.karmaPoints"></karma-hours>
                                        </h4>
                                        <div class="pull-right">
                                                <event-participant-imgs-mini event="event"></event-participant-imgs-mini>
                                        </div>
                                </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>

        <div class="show-more" ng-show="pagedEvents.firstPageProcessed && pagedEvents.hasMore">
            <button class="btn btn-default btn-sm"
                btn-loading="pagedEvents.isProcessing"
                data-loading-text="Processing..."
                ng-click="pagedEvents.fetchNextPage()">Show more
            </button>
        </div>

    </div>

</div>
