<div>
    <div class="row row-no-margin" ng-show="events.data.length == 0">
        <div class="col-md-12">
            <h4><em>No upcoming events</em></h4>
        </div>
    </div>

    <div class="row row-no-margin" ng-repeat="event in events.data">
        <div class="col-md-9">

            <h4 class="event-search-result-date">
                    {{ event.startTime | date:'EEEE, MMM d, y' }}
            </h4>


            <div class="panel panel-default">
                <div class="panel-body panel-body-filled">

                    <div class="row">
                        <div class="col-md-2">

                                <p class="font-size-h4">
                                    {{event.startTime|date:'shortTime'}}
                                </p>
                                <event-registration-info
                                    registration-info="event.registrationInfo"
                                    user-registration-info="event.userEventSearchInfo.registrationInfo"
                                    type="{USER:'USER-UPCOMING', ORG:'ORG-UPCOMING'}[searchType]">
                                </event-registration-info>
                        </div>
                        <div class="col-md-10">
                                <div class="pull-left">
                                        <a href="#!/event/{{event.key}}">
                                                <strong class="font-size-h4">{{event.title}}</strong>
                                        </a>
                                        <br>
                                        <small class="text-muted">{{event.location.title}} in {{event.location.address.city}}</small>
                                </div>
                                <div class="pull-right">
                                        <p class="text-right font-size-h4">
                                            <karma-hours karma-points="event.karmaPoints"></karma-hours>
                                        </p>
                                        <div class="pull-right">
                                                <event-participant-imgs-mini event="event"></event-participant-imgs-mini>
                                        </div>
                                </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
