.ng-social {
    list-style: none;
}
.ng-social > li {
    padding-left: 0px;
    padding-right: 5px;
}
.ng-social-icon {
    width: 32px;
    height: 32px;
    vertical-align: middle;
    background: no-repeat url(/img/social_icons.png) 0 -432px;
    background-size: auto;
 }
.ng-social-icon:hover {
    opacity:0.7;
}
.ng-social-facebook .ng-social-icon {
    background-position: 0 -432px;
 }
.ng-social-twitter .ng-social-icon {
    background-position: 0 -1033px;
 }
.ng-social-google-plus .ng-social-icon {
    background-position: 0 -396px;
}
