span.kex-labelstyle-84b6eb {
  background-color: #84b6eb !important;
  color: #1c2733 !important;
}

span.kex-label {
  display: inline-block;
  padding: 2px 4px;
  border-radius: 2px;
  box-shadow: inset 0 -1px 0 rgba(0,0,0,0.12);
  text-shadow: 0 1px 0 rgba(255,255,255,0.4);

  fill: #555;
  stroke: none;

  line-height: 16px;
  font: 12px Helvetica, arial, freesans, clean, sans-serif;
  font-weight: bold;
}
