

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
   

.angular-google-map {
  height: 100%;
  border: 1px #ccc solid;
  margin-bottom: 20px;
  display: block;
}

.angular-google-map img {
  max-width: inherit !important;
}

body { 
  padding-top: 60px; 
  padding-bottom: 40px; 
  /* background: url(../img/bg.gif);*/
}

.container-fluid > .content{
margin-left:280px;
}
.categories li{

}
.categories li:focus{

}
#main-items tbody tr td{
cursor:pointer !important;
}
.highlight td{
font-weight:bold;
}
td.mini-thumbnail img{
max-height:50px;
max-width:100px;
}
td.mini-thumbnail{
text-align:center;
}

.brand
{
  height: 20px;
  width: 100px;
}
.event-detail
{
  display:none;
}



.fb-comments, .fb-comments span, .fb-comments.fb_iframe_widget span iframe {
    width: 100% !important;
}

.google-map{
  width: 100% !important;
}


/* controls angular-ui rating directive star color */
.icon-star {
    color: gold;
    text-shadow: 1px 1px 0px rgba(0,0,0,0.5);
}

#dnd-container {
            margin-left: auto;
            margin-right: auto;
            margin-top: 20px;
            width: 568px
        }

#dnd-container .ui-droppable {
    float: left;
    border: 2px solid fuchsia;
    width: 250px;
    padding: 10px;
    height: 208px;
    border-radius: 10px;
    margin-top: 20px;
}

.add-window {
  min-width: 350px;
  width : 50%;
  height : 50%;
  position: fixed;
  bottom: 0px;
  right: 10px;
  border: 1px solid black;
  background-color: white;
  z-index: 1;
}

.add-window .header {
  background-color: #333;
  color: white;
}

.add-window div {
  padding: 5px 20px;
  
}

.add-window div div {
  width : 100%;
  
}

.box h3{
  text-align:center;
  position:relative;
  top:80px;
}
.box {
  width:100%;
  
  background:#FFF;
  
}

.vertical-panel-padding {
  padding-top: 10px;
}

.vertical-panel-margin {
  margin-top: 10px;
}

.panel-seperated-vertical {
  margin-top: 10px;
  margin-bottom: 10px;
}

.panel-body-text-only {
  /*padding: 10px;*/
  background-color: #F0F0F0;
}

/* 
 * The grid panel layout requires top and left padding because margins with
 * inline block and foat elements do not collapse.
 */
.panel-grid {
  padding: 10px 0 0 10px;
}

.panel-grid-el-2-col {  
  min-width: 200px;
  width: 50%;
  padding-right: 10px;
  padding-bottom: 10px;
  display: inline-block;
  vertical-align: top;
}

.responsive-div-pad-right {
  padding-right: 10px;
}

.responsive-div-pad-left {
  padding-left: 10px;
}

.font-size-h4 {  
  font-size: 18px;
}

.font-size-h3 {  
  font-size: 24px;
}

.event-search-result-date {
  text-transform:uppercase;
  /*font-weight:bold;*/
}

.event-search-result-summary a {
  color: inherit;
  text-decoration:none;
}

.profile-view-name {
  padding-bottom: 10px;
}

.kex-bs-label {
  text-transform:uppercase;
  font-weight:normal;
}

img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img.kex-thumbnail-with-label {
 margin-right: 8px; 
}

img.kex-thumbnail-org {
  height: 40px; 
  width: 40px; 
}

img.kex-thumbnail-org-small {
  height: 32px; 
  width: 32px; 
}

img.kex-thumbnail-user {
  height: 40px; 
  width: 40px; 
}

img.kex-thumbnail-user-mini {
  height: 25px; 
  width: 25px; 
}

.list-inline-no-padding {
  list-style: none;
  padding-left: 0;
}

.list-inline-no-padding > li {
  display: inline-block;
}

/* Unused class. Couldn't figure out how to use custom icons. */
.icon-custom-fb {
  background-image: url("/img/facebook.png");
  background-position: center center;
}

.kex-icon {  
  height: 15px; 
  width: 15px; 
}

.border-top-1 {
  border-top: 1px solid #999;
}

.border-left-1 {
  border-top: 1px solid #999;
}

/* This is needed to avoid scrollbars in tabs. */
.row-no-margin {
  margin-left: 0;
  margin-right: 0;
}

.well-no-margin {
  margin-bottom: 0;
}

/*
 * Image and text side by side. Text wraps next to the image instead of under it.
 */

.img-text-div-img-small {
  width: 42px;  /* 32px image + 10 padding */
  padding-right: 10px;
  display: table-cell;
  vertical-align: middle;
  text-align: right;
}

.img-text-div-text {
  display: table-cell;
  vertical-align: middle;
}

/*  
 * Event sidebar 
 */

.event-sidebar-element {
  padding-bottom: 1em;
}

.event-sidebar-panel-header {
  font-size: 18px;
  font-weight: bold;
  border-bottom: 1px solid #999;
  margin-bottom: 10px;
}

/*  
 * Event info panels
 */

.event-view-primary-info-panels {
  overflow: hidden;
}

.event-view-icon-panel {
  padding: 5px 10px;
  background-color: #F0F0F0;
  /*box-shadow: 3px 3px 0px #777;*/
}

.event-view-karma-panel {
  padding: 5px 10px;
  background-color: #F0F0F0;
  text-align: center;
  /*vertical-align: middle;*/

  /*
   * Equal height hack
   * http://stackoverflow.com/questions/18227326/make-columns-the-same-height-in-bootstrap
   */
  margin-bottom: -99999px;
  padding-bottom: 99999px;

  /*box-shadow: 3px 3px 0px #777;*/
}

.event-view-icon-img-div {
  width: 50px;
  display: table-cell;
  vertical-align: middle;
}

.event-view-icon-text-div {
  border-left: 1px solid #999;
  padding-left: 20px;
  display: table-cell;
  vertical-align: middle;
}

.event-view-icon-img-only-div {
  font-size: 30px;
  margin-bottom: -5px;
  /*padding-bottom: 5px;*/
}

.event-view-icon-text-big {
  font-size: 18px;
}

.event-view-action {
  text-transform: uppercase;
  font-size: 85%; /* equal to small tag */
}

.event-view-volunteers-needed {
  padding-bottom: 20px;
  font-size: 18px;
  font-weight: bold;
  /*font-style: italic;*/
}

/*
 * org-event-summary.html
 */

.org-event-summary-img-panel {
  display: table-cell;
  vertical-align: top;
}

.org-event-summary-info-panel {
  display: table-cell;
  vertical-align: top;
}

/*
 * event-participant-summary.html
 */

.participant-summary-img-panel {
  display: table-cell;
  vertical-align: top;
}

.participant-summary-info-panel {
  display: table-cell;
  vertical-align: top;
}

/*
 * Organization details.
 */

.org-info-panel {
  margin-top: 20px;
  padding: 5px 10px;
  background-color: #F0F0F0;
  text-align: center;
}

.org-info-panel-details {
  text-align: left;
  margin-left:auto;
  margin-right:auto;
  width: 85%;
  /*font-size: .85em;*/
}

.org-info-panel-details-row {
  margin-top: 5px;
  margin-bottom: 5px;
}

.org-info-panel-details-row-img {
  display: table-cell;
  vertical-align: top;
  text-align: right;
  width: 25px;
  padding-right: 10px;
}

.org-info-panel-details-row-text {
  display: table-cell;
  vertical-align: top;
}

.org-donation-btn {
  margin-top: 10px;
  text-align: center;  
}

/*==================================================
 * Angular-ui 
 * ===============================================*/

/*
  From http://angular-ui.github.io/bootstrap/
  "Original Bootstrap's CSS depends on empty href attributes to style cursors 
  for several components (pagination, tabs etc.). But in AngularJS adding empty 
  href attributes to link tags will cause unwanted route changes. This is why we 
  need to remove empty href attributes from directive templates and as a result 
  styling is not applied correctly. The remedy is simple, just add the following 
  styling to your application:"
*/
.nav, .pagination, .carousel a { cursor: pointer; }

/*==================================================
 * Effect 7
 * ===============================================*/
.effect7
{
    position:relative;       
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.effect7:before, .effect7:after
{
  content:"";
    position:absolute; 
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:0;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
} 
.effect7:after
{
  right:10px; 
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg); 
       -moz-transform:skew(8deg) rotate(3deg);     
        -ms-transform:skew(8deg) rotate(3deg);     
         -o-transform:skew(8deg) rotate(3deg); 
            transform:skew(8deg) rotate(3deg);
}

.effect8
{
    position:relative;       
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.effect8:before, .effect8:after
{
  content:"";
    position:absolute; 
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:10px;
    bottom:10px;
    left:0;
    right:0;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
} 
.effect8:after
{
  right:10px; 
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg); 
       -moz-transform:skew(8deg) rotate(3deg);     
        -ms-transform:skew(8deg) rotate(3deg);     
         -o-transform:skew(8deg) rotate(3deg); 
            transform:skew(8deg) rotate(3deg);
}


p {
  padding: 0;
}

img {
  position: relative;
  margin : 0px;
  padding: 0px;
}

/***** MAIN CONTAINER *****/

.maincontainer {
  padding: 10px;
  width: 860px;
  margin-left: auto;
  margin-right: auto;
  
}

/***** END MAIN CONTAINER *****/



/***** TOP BANNER CONTAINER *****/


.topcontainer {
  width: 100%;
  height: 150px;
  
}

/***** END TOP BANNER CONTAINER *****/



/***** TIMELINE CONTAINER *****/

.timelinecontainer {
  position: relative;
  width: 100%;  
  min-height: 600px;
  margin-top: 10px;
}

.timeline {
  margin-left: 50%;
  height: 99%;
  width: 3px;
  background: #c3ccdf;  
  position: absolute;
}

.timeline:hover {
  cursor: pointer;
}

#timelineblock {
  position: relative
  padding: 0px;
  margin: 0px;
  margin-top: 30px;
  list-style-type: none;
  width:860px;    
  
}


.block {
  padding: 5px;
  margin: 0px;
  width: 340px;


  background: #fff;
  border: 1px solid #c4cde0;

  -moz-border-radius:3px; 
  border-radius:3px; 
  -webkit-border-radius:3px; 
}

.block:hover {
  border: 1px solid #9fafd0;
}
/***** END TIMELINE CONTAINER *****/



/***** ARROW EDGES *****/


#edge {
  position: absolute;
  padding: 0px;
}

.redge {
  display: block;
  margin:0px;
  margin-left: 345px;

  width:20px;
  height:15px;
  background: url(../img/right.gif);
}

.ledge {
  display: block;
  margin:0px;
  margin-left: -28px;

  width:23px;
  height:15px;
  background: url(../img/left.gif);
}

.redge_h {
  background: url(../img/right.gif) 21px;
}

.ledge_h {
  background: url(../img/left.gif) 23px;
}


/***** END ARROW EDGES  *****/


/*****  TIMELINE CONTENTS *****/


.block p {
  padding: 7px 0 7px 0;
  margin: 0px;
  font-size: 10px;
  font-family: Arial;

}


.pic {
  width: 310px;
  margin: 5px 0 0 10px;
  height: 210px;
  padding: 3px;
}

/***** END  TIMELINE CONTENTS *****/


.borders {
  border: 1px solid #000;
}


#loading { position: absolute; left: 0px; top: 0px; background: gold; padding: 0.3em; font-weight: bold; }


















