

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

   .angular-google-map {
	height: 400px;
	border: 1px #ccc solid;
	margin-bottom: 20px;
	display: block;
}

.angular-google-map img {
	max-width: inherit !important;
}

body {
padding-top: 60px;
}
.container-fluid > .content{
margin-left:280px;
}
.categories li{

}
.categories li:focus{

}
#main-items tbody tr td{
cursor:pointer !important;
}
.highlight td{
font-weight:bold;
}
td.mini-thumbnail img{
max-height:50px;
max-width:100px;
}
td.mini-thumbnail{
text-align:center;
}

.brand
{
  height: 20px;
  width: 100px;
}
.event-detail
{
	display:none;
}



.fb-comments, .fb-comments span, .fb-comments.fb_iframe_widget span iframe {
    width: 100% !important;
}

.google-map{
  width: 100% !important;
}



.icon-star {
    color: gold;
}

#dnd-container {
            margin-left: auto;
            margin-right: auto;
            margin-top: 20px;
            width: 568px
        }

#dnd-container .ui-droppable {
    float: left;
    border: 2px solid fuchsia;
    width: 250px;
    padding: 10px;
    height: 208px;
    border-radius: 10px;
    margin-top: 20px;
}
















