

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

   .angular-google-map {
	height: 400px;
	border: 1px #ccc solid;
	margin-bottom: 20px;
	display: block;
}

.angular-google-map img {
	max-width: inherit !important;
}

















