<div class="container-fluid">
	

	<div>
		<a href="#/addevent"><i class="icon-plus-sign"></i></a>
		
			<ul class="unstyled">

				<li ng-repeat="event in events.data" id="event_{{event.key}}">
					<div>
						<h3 ng-show="createHeader(event.startTime)">
					       {{event.startTime | date:'mediumDate'}}
					    </h3>
					    
					    	<div class="well text-center row-fluid">

					    		
					    		<ul class="inline">
					    			<li class="pull-left">
					    				<strong>{{event.startTime | date:'shortTime'}}</strong>
					    				
					    				
					    					
					    					
					    	
					    				
						    				<a href="#/editevent/{{event.key}}">{{event.title}} </a> 
						    				<small class="muted">at {{event.location.title}}, {{event.location.address.city}}</small>
						    		
						    		</li>
									<li class="pagination-centered pull-right" ng-repeat="userImage in event.cachedParticipantImages">
										<div class="span6">
											<img ng-src="{{userImage.imageUrl}}">
										</div>
									</li>	
								</ul>
								
							</div>
					</div>	
				</li>
			</ul>
		</div>
	</div>
</div>
