<div id="intro-banner" ng-hide="iframeView">
    <div id="hero">
        <div class="container">
            <h1 class="hero-text animated fadeInDown">Make earning and sharing <em>karma</em> part of your daily routine.</h1>
            <div class="cta animated fadeInDown">
                <a href="#!/tour" class="button-outline">Take a tour</a>
                <a href="" class="button-outline" ng-click="SessionManager.login()" ng-hide="isLoggedIn">Login</a>
            </div>
        </div>
    </div>
</div>

<div class="container event-search">

        <div class="search-box row">
            <div class="keyword-search col-sm-6">
                <div class="input-group">
                        <input class="form-control" type="text" ng-model="query" placeholder="Search for karma opportunities...">
                        <span class="input-group-addon">
                                <i class="icon-search"></i>
                        </span>
                </div>
            </div>

            <div class="location-search location-specified col-sm-6" ng-show="locationSearch.settings.selectedLocation">
                <span class="text">
                    within
                </span>

                <div class="dropdown">
                  <a class="dropdown-toggle">
                    {{ locationSearch.distanceToDisplayString(locationSearch.settings.selectedDistance) }}
                  </a>
                  <ul class="dropdown-menu">
                    <li ng-repeat="distance in locationSearch.distanceChoices">
                        <a ng-class="{ 'selected' : (distance == locationSearch.settings.selectedDistance)}"
                           ng-click="updateDistance(distance)">
                            {{ locationSearch.distanceToDisplayString(distance) }}
                        </a>
                    </li>
                  </ul>
                </div>

                <span class="text">
                    of
                </span>

                <dropdown-input class="city-name"
                    paceholder="City or postal code"
                    input-label="locationSearch.settings.selectedLocation.text"
                    input-value="locationSearch.inputValue"
                    input-submit="getGeocoding(value)">
                </dropdown-input>
            </div>

            <div class="location-search location-not-specified col-sm-6" ng-hide="locationSearch.settings.selectedLocation">

                <dropdown-input class="city-name"
                    paceholder="City or postal code"
                    input-label="'Set your location'"
                    input-value="locationSearch.inputValue"
                    input-submit="getGeocoding(value)">
                </dropdown-input>

            </div>

        </div>

        <div class="results-div">

            <div ng-hide="pagedEvents.firstPageProcessed">
                <loading-message msg="karma opportunities"></loading-message>
            </div>

            <div ng-show="(pagedEvents.elements.length == 0) && pagedEvents.firstPageProcessed">
                <h4><em>No <span ng-show="query.length > 0">matching </span> upcoming events</em></h4>
            </div>

            <ul class="list-unstyled results upcoming-events" ng-show="(pagedEvents.elements.length > 0) && pagedEvents.firstPageProcessed">
                <li ng-repeat="event in pagedEvents.elements" id="event_{{event.key}}">

                    <div>

                        <h4 ng-show="event.showHeader" class="date">
                                {{event.startTime | date:event.dateFormat}}
                        </h4>

                        <div class="panel panel-default" ng-class="{ 'panel-clickable': event.isCollapsed }" ng-click="expandEvent()">
                            <div class="panel-body">

                                <div class="row">
                                    <div class="col-md-2 event-search-result-summary">
                                            <h4 class="margin-top-0">
                                                {{event.startTime | date:'shortTime'}}
                                            </h4>
                                            <event-registration-info
                                                registration-info="event.registrationInfo"
                                                type="'UPCOMING'">
                                            </event-registration-info>
                                    </div>
                                    <div class="col-md-10 event-search-result-summary">
                                            <div class="pull-left">
                                                    <h4 class="margin-0">
                                                        <strong>{{event.title}}</strong>
                                                    </h4>
                                                    <span ng-show="event.locationQuickSummary">{{event.locationQuickSummary}}</span>
                                            </div>
                                            <div class="pull-right">
                                                    <h4 class="margin-top-0 text-right">
                                                        <karma-hours karma-points="event.karmaPoints"></karma-hours>
                                                    </h4>
                                                    <div class="pull-right">
                                                            <event-participant-imgs-mini event="event"></event-participant-imgs-mini>
                                                    </div>
                                            </div>
                                    </div>
                                </div>
                                <!-- TODO(avaliani):  ui-bootstrap collapse is not working. Investigate why.
                                    <div collapse="event.isCollapsed">
                                -->
                                <div ng-show="!event.isCollapsed">

                                    <div class="vertical-panel-padding" ng-show="event.expandedEventFetchTracker.isPending()">
                                        <loading-message msg="event details"></loading-message>
                                    </div>

                                    <div class="single-row-resp-table row margin-0" ng-show="!event.expandedEventFetchTracker.isPending()">
                                        <div class="col-md-4 col-sm-12">
                                            <div class="header">
                                                What?
                                            </div>
                                            <div class="body">
                                                <truncate-and-link
                                                    text="event.expandedEvent.description"
                                                    link-text="(more)"
                                                    link-details="event.detailsHref"
                                                    limit="500">
                                                </truncate-and-link>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-4">
                                            <div class="header">
                                                When? Where?
                                            </div>
                                            <div class="body">
                                                <p>
                                                        <strong>{{event.expandedEvent.startTime|date:'shortTime'}} - {{event.expandedEvent.endTime|date:'shortTime'}}</strong>
                                                </p>

                                                <p ng-show="event.expandedEvent.location">

                                                        <strong>{{event.expandedEvent.location.title}}</strong><br>
                                                        <a href="//maps.google.com/?q={{event.location.address.street}}, {{event.location.address.city}}, {{event.location.address.state}}, {{event.location.address.zip}}, {{event.location.address.country}}" target="_blank">
                                                            {{event.expandedEvent.location.address.street}}<br>
                                                            {{event.expandedEvent.location.address.city}}, {{event.expandedEvent.location.address.state}} {{event.expandedEvent.location.address.zip}}<br>
                                                        </a>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-4">
                                            <div class="header">
                                                Who?
                                            </div>
                                            <div class="body">
                                                <p ng-show="(event.registrationInfo != 'EXTERNAL_REGISTRATION')">
                                                        Volunteers needed :
                                                        <strong>
                                                            {{event.maxRegistrations-event.numRegistered | limit10 }}
                                                        </strong>
                                                </p>
                                                <p ng-show="(event.registrationInfo == 'EXTERNAL_REGISTRATION') && (event.maxRegistrations > 0)">
                                                        Volunteers needed :
                                                        <strong>
                                                            {{event.maxRegistrations | limit10 }}
                                                        </strong>
                                                </p>
                                                <p ng-show="(event.registrationInfo != 'EXTERNAL_REGISTRATION')">
                                                        Volunteers attending: <strong>{{event.numRegistered}}</strong>
                                                </p>
                                                <p>
                                                        Organized by:
                                                </p>
                                                <p>
                                                        <org-event-summary org="event.organizationDetails"></org-event-summary>
                                                </p>
                                                <p>
                                                        Organizer:
                                                </p>
                                                <p>
                                                        <event-participant-summary user="event.expandedEvent.firstOrganizer" type="'ORGANIZER'"></event-participant-summary>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="col-md-2 col-sm-4">
                                            <div class="header hide-xs">
                                                &nbsp;
                                            </div>
                                            <div class="body text-center">

                                                <button ng-show="{CAN_REGISTER:true}[event.registrationInfo]"
                                                        class="btn btn-success btn-sm"
                                                        ng-click="register(event, 'REGISTERED')"
                                                        btn-loading="event.registrationActionTracker.isPending()"
                                                        data-loading-text="Processing...">
                                                    <i class="icon-ok icon-white"></i> Register
                                                </button>

                                                <button ng-show="{CAN_WAIT_LIST:true}[event.registrationInfo]"
                                                        class="btn btn-success btn-sm"
                                                        ng-click="register(event, 'WAIT_LISTED')"
                                                        btn-loading="event.registrationActionTracker.isPending()"
                                                        data-loading-text="Processing...">
                                                    <i class="icon-ok icon-white"></i> Wait list
                                                </button>


                                                <button ng-show="event.externalRegistrationDetailsHtml && (!event.externalRegistrationUrl)"
                                                        class="btn btn-success btn-sm"
                                                        ng-click="displayExternalRegInfo()">
                                                    <i class="icon-question-sign icon-white"></i> How to <br/> Register
                                                </button>

                                                <a ng-show="event.externalRegistrationUrl"
                                                   href="{{ event.externalRegistrationUrl }}"
                                                   target="_blank"
                                                   class="btn btn-success btn-sm">
                                                    <i class="icon-external-link-sign icon-white"></i> Register at<br/>partner site
                                                </a>

                                                <!--
                                                        Not really needed anymore since we have a label containing the registration info.

                                                        <span ng-show="{REGISTERED:true}[event.expandedEvent.registrationInfo]">
                                                                <i class="icon-ok"></i> You are registered!
                                                        </span>
                                                        <span ng-show="{WAIT_LISTED:true}[event.expandedEvent.registrationInfo]">
                                                                <i class="icon-ok"></i> You are waitlisted!
                                                        </span>
                                                -->
                                                <a href="{{ event.detailsHref.href }}"
                                                   target="{{ event.detailsHref.target }}"
                                                   class="btn btn-info btn-sm">
                                                    <i class=" icon-info-sign icon-white"></i> More info
                                                </a>
                                            </div>
                                        </div>
                                    </div>

                                    <div>
                                        <div class="collapse-upwards-tab" ng-click="collapseEvent($event)">
                                            <i class="icon-chevron-up"></i>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>

                    </div>

                </li>
            </ul>


            <div class="show-more" ng-show="pagedEvents.firstPageProcessed && pagedEvents.hasMore">
                <button class="btn btn-default btn-sm"
                    btn-loading="pagedEvents.isProcessing"
                    data-loading-text="Processing..."
                    ng-click="pagedEvents.fetchNextPage()">Show more
                </button>
            </div>

        </div>

</div>
