
<div class="container">

  <div class="row">    
  	<div class="col-md-3">
        <img ng-src="{{me.profileImage.url}}?type=large" class="img-responsive center">
        <div class="text-center">
            <h4><strong><em>+{{me.karmaPoints}} karma</em></strong></h4>
            <p><strong>Organizer Rating: </strong><rating value="me.eventOrganizerRating.value" max="5" readonly="true"></rating> ({{me.eventOrganizerRating.count}})</p>
        </div>
  	</div>
  	<div class="col-md-9">

        <h3 class="profile-view-name"><strong>{{me.firstName}}</strong></h3>
  		
  		<legend>Introduction<small> <i ng-show="{ALL:true}[me.permission]" class="icon-edit" ng-click="enableEdit()"></i></small></legend>
  		
  		<ng-switch on="edit">
        
	        <div ng-switch-when="true">
	            <textarea rows="5" class="col-md-12" ng-model="$parent.me.about" ></textarea>  
	            <button class="btn btn-primary btn-sm" ng-click="saveEdit()">Save</button><button class="btn btn-sm btn-default" ng-click="disableEdit()">Cancel</button>
	        </div>
	        
	        <div ng-switch-default ng-click="enableEdit()">
	        <p ng-bind-html-unsafe="me.about | noHTML | newlines" />
	        </div>
	        
	    </ng-switch>
	    <legend>I am an organizer for</legend>
	    <div>
	    	
	    		<ul class="list-inline">
	    			<li ng-repeat="org in orgs.data">
	    				<div class="well well-sm"><a href="#/org/{{org.org.key}}">{{org.orgName}}</a></div>
	    			</li>
	    		</ul>

	    </div>

  	</div>
  </div>

  <div class="row vertical-panel-padding">
    <div class="col-md-12">
        <tabset>
            <tab>
                <tab-heading>
                    <i class="icon-bolt">
                    </i>
                    Impact
                </tab-heading>
                <p></p>

                <ul class="list-unstyled">
                    <li ng-repeat="event in pastEvents.data">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="well well-sm">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <strong >{{event.startTime | date:'mediumDate'}}</strong>
                                            <a href="#/event/{{event.key}}"><strong>{{event.title}} </strong></a> 
                                            <button disabled="disabled" type="button" class="btn btn-info btn-xs pull-right" ng-show="{ORGANIZER:true}[event.registrationInfo]" ><small>organizer</small></button>                          
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <small class="text-muted">{{event.startTime | date:'shortTime'}} - {{event.endTime | date:'shortTime'}}</small>                 
                                            <small class="text-muted">at {{event.location.title}}, {{event.location.address.city}}</small>

                                            <h4 class="pull-right">
                                                <strong>
                                                    <em>
                                                        +{{event.karmaPoints}} karma
                                                    </em>
                                                </strong>
                                            </h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>

            </tab>
            <tab>
                <tab-heading>
                    <i class="icon-list">
                    </i>
                    Upcoming Events
                </tab-heading>
                <p></p>

                <ul class="list-unstyled">
                    <li ng-repeat="event in events.data">
                        <div class="row well well-sm col-md-12">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-12">
                                        <strong >{{event.startTime | date:'mediumDate'}}</strong>
                                        <a href="#/event/{{event.key}}"><strong>{{event.title}} </strong></a> 
                                        <button disabled="disabled" type="button" class="btn btn-info btn-xs pull-right" ng-show="{ORGANIZER:true}[event.registrationInfo]" ><small>organizer</small></button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <small class="text-muted">{{event.startTime | date:'shortTime'}} - {{event.endTime | date:'shortTime'}}</small>
                                        <small class="text-muted">at {{event.location.title}}, {{event.location.address.city}}</small>
                                        <div class="pull-right">
                                                <data-event-participant-imgs-mini event="event"></data-event-participant-imgs-mini>
                                        </div>                                                                                    
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>

            </tab>
        </tabset>
    </div>
  </div>

</div>

