
<div class="container-fluid">
	
  <div class="row-fluid">
  	<div class="span2">
  		<img ng-src="{{me.profileImage.url}}?type=large"/>
  		<h3><i class="icon-plus"></i>{{me.karmaPoints}} karma</h3>
  	</div>
  	<div class="span10">
  		
  		<legend>About me</legend>
  		
  		<ng-switch on="edit">
        
	        <div ng-switch-when="true">
	            <textarea rows="5" class="span12" ng-model="$parent.me.about" unfocus="disableEdit()"></textarea>         
	        </div>
	        
	        <div ng-switch-default ng-click="enableEdit()">
	        <p ng-bind-html-unsafe="me.about | noHTML | newlines" />
	        </div>
	        
	    </ng-switch>
	    <legend>I am an organizer for</legend>
	    <div>
	    	
	    		<ul class="inline">
	    			<li ng-repeat="org in orgs.data">
	    				<div class="well well-small"><a href="#/org/{{org.org.key}}">{{org.orgName}}</a></div>
	    			</li>
	    		</ul>
	    		<p><strong>{{who}} organizer rating: </strong><rating value="me.eventOrganizerRating.value" max="5" readonly="true"></rating> ({{me.eventOrganizerRating.count}})</p>
	    </div>

  	</div>
  </div>
  <div class="row-fluid">

    <div class="span6">
		
		<div class="row-fluid">
       		<legend>{{who}} past events</legend>
      		<ul class="unstyled">

				<li  ng-repeat="event in pastEvents.data">
					<div class="well well-small row-fluid">
						
				    		<div class="row-fluid">
		    					<strong >{{event.startTime | date:'mediumDate'}}</strong>
		    					<a href="#/event/{{event.key}}"><strong>{{event.title}} </strong></a> 
		    					<button disabled="disabled" type="button" class="btn btn-info btn-mini pull-right" ng-show="{ORGANIZER:true}[event.registrationInfo]" ><small>organizer</small></button>		    				</div>
		    				<div class="row-fluid">
		    					<small class="muted">{{event.startTime | date:'shortTime'}} - {{event.endTime | date:'shortTime'}}</small>					
		    					<small class="muted">at {{event.location.title}}, {{event.location.address.city}}</small>
		    				</div>
	    			
	    				
	    					
	    			

	    				
			    	</div>
				
				</li>
			</ul>
      </div>

	</div>
	<div class="span6">

       <div class="row-fluid">
       		<legend>{{who}} upcoming events</legend>
      		<ul class="unstyled">

				<li ng-repeat="event in events.data">
					<div class="well well-small row-fluid">
			    		<div class="row-fluid">
	    					<strong >{{event.startTime | date:'mediumDate'}}</strong>
	    					<a href="#/event/{{event.key}}"><strong>{{event.title}} </strong></a> 
	    					<button disabled="disabled" type="button" class="btn btn-info btn-mini pull-right" ng-show="{ORGANIZER:true}[event.registrationInfo]" ><small>organizer</small></button>
	    				</div>
	    				<div class="row-fluid">
	    					<small class="muted">{{event.startTime | date:'shortTime'}} - {{event.endTime | date:'shortTime'}}</small>					
	    					<small class="muted">at {{event.location.title}}, {{event.location.address.city}}</small>
	    				</div>
			    	</div>
				</li>
			</ul>
      </div>
    </div>
  </div>
</div>

