
<div class="container">

  <div class="row">

    <div class="col-md-3">

        <div class="panel panel-default panel-seperated-vertical">
            <div class="panel-body panel-light-gray">

                <div class="panel-body-header-h3">{{me.firstName}}</div>

                <img ng-src="{{KexUtil.strConcat(me.profileImage.url,'?type=large')}}" class="img-responsive center">

                <div class="text-center">
                    <h4><strong><em>+{{me.karmaPoints}} karma</em></strong></h4>
                </div>

            </div>
        </div>

    </div>

    <div class="col-md-9">

        <div class="row">

            <div class="col-md-6">

                <div class="panel panel-default panel-seperated-vertical">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Karma Goal Tracker
                        </h3>

                    </div>
                    <div class="panel-body panel-light-gray panel-body-no-vertical-padding">

                        <table class="table label-value-table panel-seperated-vertical goal-table">
                            <thead>
                                <tr>
                                    <th colspan="2">
                                        <span class="text-uppercase">Month of {{ userGoalInfo.goalStartDate | date:'MMMM yyyy'}}</span>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Goal</td>
                                    <td><strong>
                                            <num-with-type num="userGoalInfo.goalHours" type="'hour'"></num-with-type>
                                        </strong>
                                        <span ng-show="{ALL:true}[me.permission]" class="icon-edit-span">
                                            <a href ng-click="editKarmaGoal()"><i class="icon-edit"></i></a>
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Registered for</td>
                                    <td>
                                        <strong>
                                            <num-with-type num="userGoalInfo.registeredForKarmaHours" type="'hour'"></num-with-type>
                                        </strong>
                                        <div ng-show="userGoalInfo.upcomingKarmaHours">
                                            <em>( Upcoming <num-with-type num="userGoalInfo.upcomingKarmaHours" type="'hour'"></num-with-type> )</em>
                                        <div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <div class="panel-seperated-vertical">
                            <goal-tracking-bar
                                pct-completed="userGoalInfo.pctCompleted"
                                pct-pending="userGoalInfo.pctUpcoming">
                            </goal-tracking-bar>
                        </div>

                        <div class="text-center" ng-show="{ALL:true}[me.permission]">
                            <h4><em>{{userGoalInfo.msg}}</em></h4>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default panel-seperated-vertical" ng-show="(me.badges.length != 0) || {ALL:true}[me.permission]">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Awards
                        </h3>

                    </div>
                    <div class="panel-body panel-light-gray text-center" ng-show="(me.badges.length == 0) && {ALL:true}[me.permission]">
                        <!-- TODO(avaliani): add link to the awards page -->
                        <em>Take a look at the spectacular awards you can earn on the awards page!</em>
                    </div>

                    <div class="panel-body panel-body-no-vertical-padding" ng-show="(me.badges.length != 0)">
                        <div class="well well-sm panel-seperated-vertical" ng-repeat="badgeInfo in me.badges">

                            <div>
                                {{badges[badgeInfo.badge].label}}
                            </div>

                        </div>
                    </div>

                </div>

            </div>

            <div class="col-md-6">

                <div class="panel panel-default panel-seperated-vertical" ng-show="me.about || {ALL:true}[me.permission]">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Introduction
                            <small>
                                <span class="icon-edit-span">
                                    <a href ng-click="enableIntroEdit()"><i ng-show="{ALL:true}[me.permission]" class="icon-edit"></i></a>
                                </span>
                            </small>
                        </h3>

                    </div>
                    <div class="panel-body panel-light-gray">
                        <ng-switch on="edit">

                            <div ng-switch-when="true">
                                <div>
                                    <textarea rows="5" class="col-md-12" ng-model="$parent.me.about" ></textarea>
                                </div>
                                <div class="vertical-panel-padding">
                                    <button class="btn btn-primary" ng-click="saveIntroEdit()">Save</button>
                                    <button class="btn btn-default" ng-click="disableIntroEdit()">Cancel</button>
                                </div>
                            </div>

                            <div ng-switch-default ng-click="enableIntroEdit()">

                                <div ng-switch on="me.permission">

                                    <div ng-switch-when="ALL">
                                        <p ng-show="me.about" ng-bind-html-unsafe="me.about | noHTML | newlines" />
                                        <p ng-hide="me.about"><em>Click here to write a few words about yourself</em></p>
                                    </div>

                                    <div ng-switch-default>
                                        <p ng-bind-html-unsafe="me.about | noHTML | newlines" />
                                    </div>

                                </div>

                            </div>

                        </ng-switch>
                    </div>
                </div>

                <div class="panel panel-default panel-seperated-vertical" ng-show="orgs.data.length">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            I am an organizer for
                        </h3>
                    </div>

                    <div class="panel-body panel-body-no-vertical-padding">
                        <div class="well well-sm panel-seperated-vertical" ng-repeat="org in orgs.data">

                            <div class="img-text-div-img-small">
                                <a href="#!/org/{{org.org.key}}">
                                    <img ng-src="{{fbUtil.getImageUrl(org.orgPage.name, 'square')}}" class="kex-thumbnail-org-small">
                                </a>
                            </div>
                            <div class="img-text-div-text">
                                <a href="#!/org/{{org.org.key}}">
                                    {{org.orgName}}
                                </a>
                            </div>

                        </div>
                    </div>

                    <div class="panel-footer panel-filled-light-bg">

                        <div class="text-center">
                            Organizer rating:
                            <rating value="me.eventOrganizerRating.value" max="5" readonly="true"></rating>
                            ({{me.eventOrganizerRating.count}})
                        </div>

                    </div>
                </div>

            </div>

        </div>

    </div>
  </div>

  <div class="row panel-seperated-vertical">
    <div class="col-md-12">
        <tabset>
            <tab active="tabs.impact.active" select="tabManager.select('impact')">
                <tab-heading>
                    <i class="icon-bolt">
                    </i>
                    Impact
                </tab-heading>

                <impact-timeline
                    timeline-events="impactTimelineEvents"
                    self-profile-view="{ALL:true}[me.permission]"
                    timeline-type="'USER'">
                </impact-timeline>
            </tab>
            <tab active="tabs.upcoming.active" select="tabManager.select('upcoming')">
                <tab-heading>
                    <i class="icon-list">
                    </i>
                    Upcoming Events
                </tab-heading>

                <upcoming-events
                    events="events"
                    search-type="'USER'">
                </upcoming-events>

            </tab>
        </tabset>
    </div>
  </div>

</div>

