<div class="container">
    <div class="row">
        <div class="col-md-12">
		    <div class="input-group">
	            <input class="form-control" type="text" ng-model="query" placeholder="Search by name..">
	            <span class="input-group-addon">
	                <i class="icon-search"></i>
	            </span> 
		    </div>
		</div>
    </div>
    <!-- <button class="btn-info" ng-click="open()"><i class="icon-plus"></i> Create an Organization</button> -->
    <div modal="shouldBeOpen" close="close()" options="opts">
        <div class="modal-header">
            <h3>
                Enter details of the organization
            </h3>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label class="control-label" for="event">
                    Organization facebook page
                </label>
                <div class="controls">
                    <input class="col-md-12 form-control" type="text" ng-model="newOrg.page.url" id="title" placeholder="title">
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-success" ng-click="save()">
                Create
            </button>
        </div>
    </div>
    <hr>
    <ul class="list-unstyled">
        <li ng-repeat="org in orgs.data">
            <div class="well well-sm">
                <a href="#/org/{{org.key}}" ng-click="refresh({{org.key}})">
                    <img ng-src="{{getFbImageUrl(org.page.name, 'square')}}" class="kex-thumbnail-with-label kex-thumbnail-org"> 
                    <strong>{{org.orgName}}</strong>
                </a>
            </div>
        </li>
    </ul>
</div>
