<div class="container">
    <div class="row">
        <div class="col-md-6">
            <!-- pictures and org main info-->
            <h3>
                <strong>
                    {{fbPage.name}}
                </strong>
                <a href ng-click="showMessage();"><small><i class="icon-envelope"></i>Message</small></a>
            </h3>
            <img ng-src="{{fbPage.cover.source}}" class="img-responsive">
        </div>
        <div class="col-md-6">
            <div class="fb-like" data-href="{{org.page.url}}" data-send="true" data-width="450" data-show-faces="true"
            data-colorscheme="dark" data-action="recommend">
            </div>
            <div class="row">
                <div class="col-md-6">
                    <h4>
                        <strong>
                            <em>
                                +{{org.karmaPoints}} karma
                            </em>
                        </strong>
                    </h4>
                </div>
                <div class="col-md-6">
                    <strong>
                        Event rating
                    </strong>
                    <rating value="org.eventRating.value" max="5" readonly="true">
                    </rating>
                    ({{org.eventRating.count}})
                </div>
            </div>
            <hr>
            <div ng-show="org.parentOrg" class="row box effect7 effect8 ">
                <p>
                    <strong>
                        Parent:
                    </strong>
                    <a href="#/org/{{org.parentOrg.key}}">{{org.parentOrg.name}}</a>
                </p>
            </div>
            <div class="row">
                <strong>
                    Mission
                </strong>
                <hr>
                {{fbPage.mission}}
            </div>
            <div class="row">
                <strong>
                    Address
                </strong>
                <hr>
                <address>
                    <a href="//maps.google.com/?q={{fbPage.location.street}} {{fbPage.location.city}}, {{fbPage.location.state}}, {{fbPage.location.zip}}"
                    target="_blank">{{fbPage.location.street}} {{fbPage.location.city}}, {{fbPage.location.state}}, {{fbPage.location.zip}}</a>
                    <br>
                    <abbr title="Phone">
                        P:
                    </abbr>
                    {{fbPage.phone}}
                </address>
            </div>
        </div>
    </div>
    <div class="row" ng-show="childOrgs.data.length>0">
        <h4>
            Child organizations
        </h4>
        <ul class="list-inline">
            <li ng-repeat="childOrg in childOrgs.data">
                <a href="#/org/{{childOrg.key}}" class="btn btn-xs btn-{{getColorClass($index)}}">{{childOrg.orgName}}</a>
            </li>
        </ul>
    </div>
    <hr>
    <tabset>
        <tab>
            <tab-heading>
                <i class="icon-bolt">
                </i>
                Impact
            </tab-heading>
            <p>
            </p>
            <ul class="list-unstyled container">
                <li ng-repeat="event in pastEvents.data">
                    <div class="row well well-sm col-md-12">
                        <div class="col-md-2">
                            <a href="#/event/{{event.key}}"><img ng-src="{{event.fbAlbum.data[0].picture}}"></a>
                            <a href="#/event/{{event.key}}"><button type="button" class="btn btn-default btn-xs" disabled="disabled">{{event.numAttending }} attended</button></a>
                        </div>
                        <div class="col-md-10">
                            <div fbgallery data-album-id="{{event.album.id}}" data-type="facebook">
                            </div>
                            <div class="row pagination-center">
                                <strong>
                                    {{event.startTime | date:'mediumDate'}}
                                </strong>
                                <a href="#/event/{{event.key}}"><strong>{{event.title}} </strong></a>
                                <small class="text-muted">
                                    {{event.startTime | date:'shortTime'}} - {{event.endTime | date:'shortTime'}}
                                </small>
                                <small class="text-muted">
                                    at {{event.location.title}}, {{event.location.address.city}}
                                </small>
                                <h4>
                                    <strong class="pull-right">
                                        <em>
                                            +{{event.karmaPoints}} karma
                                        </em>
                                    </strong>
                                </h4>
                            </div>
                            <div class="row pagination-center">
                                <button disabled="disabled" type="button" class="btn btn-info btn-xs pull-right" ng-show="{ORGANIZER:true}[event.registrationInfo]">
                                    <small>
                                        organizer
                                    </small>
                                </button>
                                <button disabled="disabled" type="button" class="btn btn-info btn-xs pull-right" ng-show="{REGISTERED:true}[event.registrationInfo]">
                                    <small>
                                        registered
                                    </small>
                                </button>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </tab>
        <tab>
            <tab-heading>
                <i class="icon-list">
                </i>
                Upcoming Events
            </tab-heading>
            <p>
            </p>
            <ul class="list-unstyled container">
                <li ng-repeat="event in upcomingEvents.data">
                    <div class="row well well-sm col-md-12">
                        <div class="col-md-2">
                            <div class="row">
                                <button ng-show="{ORGANIZER:true}[event.registrationInfo]" type="button" class="btn btn-danger btn-xs"
                                disabled="disabled">
                                    <i class="icon-ok">
                                    </i>
                                    Organizer
                                </button>
                                <button ng-show="{REGISTERED:true}[event.registrationInfo]" type="button" class="btn btn-success btn-xs"
                                disabled="disabled">
                                    <i class="icon-ok">
                                    </i>
                                    Registered
                                </button>
                                <button ng-show="{WAIT_LISTED:true}[event.registrationInfo]" type="button" class="btn btn-warning btn-xs"
                                disabled="disabled">
                                    <i class="icon-exclamation">
                                    </i>
                                    Waitlisted
                                </button>
                                <button ng-hide="{WAIT_LISTED:true,REGISTERED:true,ORGANIZER:true}[event.registrationInfo]" type="button"
                                class="btn btn-default btn-xs" disabled="disabled">
                                    {{event.maxRegistrations-event.numRegistered | limit10 }}
                                </button>
                                <button type="button" class="btn btn-default btn-xs" disabled="disabled">
                                    {{event.numAttending }} attending
                                </button>
                            </div>
                        </div>
                        <div class="col-md-10">
                            <div class="row">
                                <strong>
                                    {{event.startTime | date:'mediumDate'}}
                                </strong>
                                <a href="#/event/{{event.key}}"><strong>{{event.title}} </strong></a>
                                <button disabled="disabled" type="button" class="btn btn-info btn-xs pull-right" ng-show="{ORGANIZER:true}[event.registrationInfo]">
                                    <small>
                                        organizer
                                    </small>
                                </button>
                                <button disabled="disabled" type="button" class="btn btn-info btn-xs pull-right" ng-show="{REGISTERED:true}[event.registrationInfo]">
                                    <small>
                                        registered
                                    </small>
                                </button>
                            </div>
                            <div class="row">
                                <small class="text-muted">
                                    {{event.startTime | date:'shortTime'}} - {{event.endTime | date:'shortTime'}}
                                </small>
                                <small class="text-muted">
                                    at {{event.location.title}}, {{event.location.address.city}}
                                </small>
                                <div class="pull-right">
                                    <data-event-participant-imgs-mini event="event"></data-event-participant-imgs-mini>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </tab>
        <tab select="myCalendar.fullCalendar('render');">
            <tab-heading>
                <i class="icon-calendar">
                </i>
                Calendar
            </tab-heading>
            <div class="col-md-12 container">
                <!-- <div full-calendar events="events"></div> -->
                <div class="calendar" ng-model="eventSources" calendar="myCalendar" config="uiConfig.calendar" ui-calendar="uiConfig.calendar">
                </div>
            </div>
        </tab>
        <tab>
            <tab-heading>
                <i class="icon-thumbs-up">
                </i>
                Top volunteers
            </tab-heading>
            <div class="col-md-6">
                <h3>
                    All time
                </h3>
                <ol>
                    <li class="well well-sm" ng-repeat="leader in allTimeLeaders.scores">
                        <strong><em><a href="#/user/{{user.key}}"><img ng-src="{{leader.user.profileImage.url}}?type=square" class="kex-thumbnail-with-label kex-thumbnail-user"> {{leader.user.firstName}}</a> +{{leader.leaderboardKarmaPoints}} karma</em></strong>
                    </li>
                </ol>
            </div>
            <div class="col-md-6">
                <h3>
                    Last month
                </h3>
                <ol>
                    <li class="well well-sm" ng-repeat="leader in lastMonthLeaders.scores">
                        <strong><em><a href="#/user/{{user.key}}"><img ng-src="{{leader.user.profileImage.url}}?type=square" class="kex-thumbnail-with-label kex-thumbnail-user"> {{leader.user.firstName}}</a> +{{leader.leaderboardKarmaPoints}} karma</em></strong>
                    </li>
                </ol>
            </div>
        </tab>
        <!-- <tab> -->
        <!-- <tab-heading><i class="icon-picture"></i> Albums</tab-heading> -->
        <!-- <div id="fbgallery" fbgallery data-userid="{{fbPage.id}}" data-type="facebook"> -->
        <!-- </div>  -->
        <!-- </tab>  -->
        <tab>
            <tab-heading>
                <i class="icon-group">
                </i>
                Members
            </tab-heading>
            <div class="row">
                <!--admins-->
                <div class="col-md-12" ng-hide="orgOwners.data.length==0">
                    <h4>
                        Admins
                    </h4>
                    <hr>
                    <ul class="list-inline">
                        <li ng-repeat="user in orgOwners.data">
                            <a href="#/user/{{user.key}}"><img ng-src="{{user.profileImage.url}}?type=square" class="kex-thumbnail-with-label kex-thumbnail-user"><strong>{{user.firstName}} </strong>{{user.karmaPoints}}<i class="icon-bolt"></i></a>
                            <p>
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12" ng-hide="orgOrgnaizers.data.length==0">
                    <h4>
                        Organizers
                    </h4>
                    <hr>
                    <ul class="list-inline">
                        <li ng-repeat="user in orgOrgnaizers.data">
                            <a href="#/user/{{user.key}}"><img ng-src="{{user.profileImage.url}}?type=square" class="kex-thumbnail-with-label kex-thumbnail-user"><strong>{{user.firstName}} </strong>{{user.karmaPoints}}<i class="icon-bolt"></i></a>
                            <p>
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </tab>
        <tab disabled="{READ:true}[org.permission]" ng-hide="{READ:true}[org.permission]">
            <tab-heading>
                <i class="icon-cogs">
                </i>
                Manage membership {{pendingMembers.data.length | badge}}
            </tab-heading>
            <div class="row">
                <div class="col-md-12" ng-hide="pendingMembers.data.length==0">
                    <!--orgnaizers-->
                    <h4>
                        Pending Admins
                    </h4>
                    <hr>
                    <ul class="list-inline">
                        <li ng-repeat="user in pendingMembers.data | filter: {requestedRole: 'ADMIN'}">
                            <p>
                                <a href="#/user/{{user.key}}"><img ng-src="{{user.profileImage.url}}?type=square" class="kex-thumbnail-with-label kex-thumbnail-user"><strong>{{user.firstName}} </strong>{{user.karmaPoints}}<i class="icon-bolt"></i></a>
                            </p>
                            <p>
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12" ng-hide="pendingMembers.data.length==0">
                    <!--orgnaizers-->
                    <h4>
                        Pending Organizers
                    </h4>
                    <hr>
                    <ul class="list-inline">
                        <li ng-repeat="user in pendingMembers.data | filter: {requestedRole: 'ORGANIZER'}">
                            <p>
                                <a href="#/user/{{user.key}}"><img ng-src="{{user.profileImage.url}}?type=square" class="kex-thumbnail-with-label kex-thumbnail-user"><strong>{{user.firstName}} </strong>{{user.karmaPoints}}<i class="icon-bolt"></i></a>
                            </p>
                            <p>
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12" ng-hide="pendingMembers.data.length==0">
                    <!--orgnaizers-->
                    <h4>
                        Pending memberships
                    </h4>
                    <hr>
                    <ul class="list-inline">
                        <li ng-repeat="user in pendingMembers.data | filter:{requestedRole: 'MEMBER'}">
                            <p>
                                <a href="#/user/{{user.key}}"><img ng-src="{{user.profileImage.url}}?type=square" class="kex-thumbnail-with-label kex-thumbnail-user"><strong>{{user.firstName}} </strong>{{user.karmaPoints}}<i class="icon-bolt"></i></a>
                            </p>
                            <p>
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </tab>
    </tabset>
</div>
