<tabset>
	<tab heading="Info">
		<div class="container-fluid">
			<div class="row-fluid">
				<div class="span6">
					<!-- pictures and org main info-->
					<h2>{{fbPage.name}}</h2>
					<img ng-src="{{fbPage.cover.source}}"/>
					<p><strong>Mission</strong> <hr>{{fbPage.mission}}</p>
					<p><strong>Address</strong><p><hr>
					<address>
					  
					  {{fbPage.location.street}}, Suite 600<br>
					  {{fbPage.location.city}}, {{fbPage.location.state}}, {{fbPage.location.zip}}<br>
					  <abbr title="Phone">P:</abbr> {{fbPage.phone}}
					</address>
					 
					
				</div>
				
				<div class="span6">
					
					<!-- Members list and past events-->
					<div class="row-fluid">
						<!--orgnaizers-->
			            <p ng-hide="orgOwners.data.length==0"><h4>Owners </h4>
			            <hr>
						<ul class="inline">

			                    <li ng-repeat="user in orgOwners.data">
			                      
			                                <a href="#/user/{{user.key}}"><img ng-src="{{user.profileImage.url}}?width=25&height=25"> <strong>{{user.firstName}} </strong> {{user.karmaPoints}}<i class="icon-bolt"></i></a>
			                        
			                              <p></p>  
			                           
			                            
			                       
			                    </li>
			            </ul>
					</div>
					<div class="row-fluid">
						<!--orgnaizers-->
			            <p ng-hide="orgOrgnaizers.data.length==0"><h4>Organizers </h4>
			            <hr>
						<ul class="inline">

			                    <li ng-repeat="user in orgOrgnaizers.data">
			                      
			                                <a href="#/user/{{user.key}}"><img ng-src="{{user.profileImage.url}}?width=25&height=25"> <strong>{{user.firstName}} </strong> {{user.karmaPoints}}<i class="icon-bolt"></i></a>
			                        
			                              <p></p>  
			                           
			                            
			                       
			                    </li>
			            </ul>
					</div>
				</div>
			</div>
		</div>
	</tab>
</tabset>
