<div class="container org-detail">
    <div class="row">

        <div class="col-sm-6" ng-show="org.orgName">
            <div class="photo-details panel panel-default panel-seperated-vertical">
                <div class="panel-body">

                    <h3 class="name">
                        {{ org.orgName }}
                    </h3>
                    <img ng-src="{{fbPage.cover.source}}">

                </div>
            </div>

        </div>

        <div class="col-sm-6">

            <div class="panel panel-default panel-seperated-vertical" ng-show="org.key">
                <div class="panel-body org-info-panel">

                    <h4 class="margin-0">
                        <karma-hours karma-points="org.karmaPoints"></karma-hours>
                    </h4>
                    <div>
                        Event rating:
                        <aggregate-rating value="org.eventRating"></aggregate-rating>
                    </div>

                    <div class="org-info-panel-details">
                        <div class="org-info-panel-details-row" ng-show="fbPage.location">
                            <div class="org-info-panel-details-row-img">
                                <i class="icon-map-marker"></i>
                            </div>
                            <div class="org-info-panel-details-row-text">
                                <a href="//maps.google.com/?q={{fbPage.location.street}} {{fbPage.location.city}}, {{fbPage.location.state}}, {{fbPage.location.zip}}"
                        target="_blank">{{fbPage.location.street}} {{fbPage.location.city}}, {{fbPage.location.state}}, {{fbPage.location.zip}}</a>
                            </div>
                        </div>

                        <div class="org-info-panel-details-row">
                            <div class="org-info-panel-details-row-img">
                                <i class="icon-envelope"></i>
                            </div>
                            <div class="org-info-panel-details-row-text">
                                <a href ng-click="showMessage();">Message</a>
                            </div>
                        </div>

                        <div class="org-info-panel-details-row" ng-show="fbPage.phone">
                            <div class="org-info-panel-details-row-img">
                                <i class="icon-phone"></i>
                            </div>
                            <div class="org-info-panel-details-row-text">
                                {{fbPage.phone}}
                            </div>
                        </div>

                    </div>

                </div>
            </div>

            <div class="panel panel-default panel-seperated-vertical" ng-show="org.mission || org.donationUrl">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Mission
                    </h3>

                </div>
                <div class="panel-body">
                    {{org.mission}}

                    <div class="org-donation-btn" ng-show="org.donationUrl">
                        <a class="btn btn-success" href="{{org.donationUrl}}">Make a donation</a>
                    </div>
                </div>
            </div>

            <div class="panel panel-default panel-seperated-vertical" ng-show="parentOrg">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Chapter of
                    </h3>
                </div>

                <div class="panel-body panel-body-transparent panel-grid">

                    <div class="panel-grid-el-2-col">
                        <div class="well well-sm well-no-margin">
                            <div class="img-text-div-img-small">
                                <a href="#!/org/{{parentOrg.key}}" class="thumbnail-rounded-corners">
                                    <img ng-src="{{FbUtil.getImageUrl(parentOrg.page.name, 'square')}}" class="kex-thumbnail-org-small">
                                </a>
                            </div>
                            <div class="img-text-div-text">
                                <a href="#!/org/{{parentOrg.key}}">
                                    {{parentOrg.orgName}}
                                </a>
                            </div>


                        </div>
                    </div>

                </div>

            </div>

            <div class="panel panel-default panel-seperated-vertical" ng-show="childOrgs.data.length > 0">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Chapters
                    </h3>
                </div>

                <div class="panel-body panel-body-transparent panel-grid">

                    <div class="panel-grid-el-2-col" ng-repeat="org in childOrgs.data">
                        <div class="well well-sm well-no-margin">
                            <div class="img-text-div-img-small">
                                <a href="#!/org/{{org.key}}" class="thumbnail-rounded-corners">
                                    <img ng-src="{{FbUtil.getImageUrl(org.page.name, 'square')}}" class="kex-thumbnail-org-small">
                                </a>
                            </div>
                            <div class="img-text-div-text">
                                <a href="#!/org/{{org.key}}">
                                    {{org.orgName}}
                                </a>
                            </div>


                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>

    <div class="vertical-panel-margin">
        <tabset>
            <tab active="tabs.impact.active" select="tabManager.select('impact')">
                <tab-heading>
                    <i class="icon-bolt">
                    </i>
                    Karma Timeline
                </tab-heading>

                <impact-timeline
                    visible="loadKarmaTab"
                    org="org">
                </impact-timeline>

            </tab>
            <tab active="tabs.upcoming.active" select="tabManager.select('upcoming')">
                <tab-heading>
                    <i class="icon-list">
                    </i>
                    Upcoming Events
                </tab-heading>

                <upcoming-events
                    visible="loadUpcomingEventsTab"
                    org="org">
                </upcoming-events>

            </tab>

<!--
    Bug: Calendar tab intermittently works. Disable it for now until we can get it working correctly.

            <tab active="tabs.calendar.active" select="tabManager.select('calendar')">
                <tab-heading>
                    <i class="icon-calendar">
                    </i>
                    Calendar
                </tab-heading>

                <div ng-show="calendarEventsFetchTracker.isPending()">
                    <loading-message msg="event calendar" class="in-tab"></loading-message>
                </div>

                <div ng-show="!calendarEventsFetchTracker.isPending()">
                    <div class="calendar"
                        ng-model="calendarEventSources"
                        calendar="eventCalendar"
                        ui-calendar="calendarUiConfig.calendar">
                    </div>
                </div>
            </tab>
 -->

            <tab active="tabs.topVolunteers.active" select="tabManager.select('topVolunteers')">
                <tab-heading>
                    <i class="icon-thumbs-up">
                    </i>
                    Top Volunteers
                </tab-heading>

                <div ng-show="topVolunteersFetchTracker.isPending()">
                    <loading-message msg="volunteer leaderboard" class="in-tab"></loading-message>
                </div>

                <div class="row row-no-margin" ng-show="!topVolunteersFetchTracker.isPending()">
                    <div class="col-md-5" ng-show="allTimeLeaders.scores.length > 0">
                        <leaderboard-table scores="allTimeLeaders.scores" type="'ALL_TIME'">
                        </leaderboard-table>
                    </div>
                    <div class="col-md-5" ng-show="lastMonthLeaders.scores.length > 0">
                        <leaderboard-table scores="lastMonthLeaders.scores" type="'THIRTY_DAY'">
                        </leaderboard-table>
                    </div>
                    <div ng-show="(allTimeLeaders.scores.length == 0) && (lastMonthLeaders.scores.length == 0)">
                        <h4><em>Leaderboards are not available at this time</em></h4>
                    </div>
                </div>
            </tab>

            <!-- Switch to using ng-if once we upgrade to angular 1.2 -->
            <tab active="tabs[tab.tabName].active" select="tabManager.select(tab.tabName)" ng-repeat="tab in dynamicTabs">
                <tab-heading>
                    <span ng-bind-html-unsafe="tab.heading">
                    </span>
                </tab-heading>

                <ng-include src="tab.contentUrl">
                </ng-include>
            </tab>

        </tabset>
    </div>
</div>
