<div class="organization-search container">

    <div class="row">
        <div class="col-md-12">
            <div class="input-group">
                <input class="form-control" type="text" ng-model="query" placeholder="Search by name..">
                <span class="input-group-addon">
                    <i class="icon-search"></i>
                </span>
            </div>
        </div>
    </div>

    <div>
        <!-- <button class="btn btn-info" ng-click="open()"><i class="icon-plus"></i> Create an Organization</button> -->
        <script type="text/ng-template" id="createOrgModal.html">
            <div class="modal-header">
                <h3>
                    Enter details of the organization
                </h3>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="control-label" for="event">
                        Organization facebook page
                    </label>
                    <div class="controls">
                        <input class="col-md-12 form-control" type="text" ng-model="newOrg.page.url" id="title" placeholder="title">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success" ng-click="save()">
                    Create
                </button>
            </div>
        </script>

    </div>

    <div class="vertical-panel-padding">

        <div ng-hide="!orgQueryTracker.isPending()">
            <loading-message msg="organizations"></loading-message>
        </div>

        <div ng-show="(orgs.data.length == 0) && !orgQueryTracker.isPending()">
            <h4><em>No <span ng-show="query.length > 0">matching </span> organizations found</em></h4>
        </div>

        <div class="row" ng-show="!orgQueryTracker.isPending()">
            <div class="col-sm-6 col-md-4" ng-repeat="org in orgs.data">

                <div class="org-summary panel panel-default panel-seperated-vertical panel-clickable"
                     ng-click="setLocation('#!/org/' + org.key)">

                    <div class="panel-heading">
                        <div class="thumbnail">
                            <img ng-src="{{fbUtil.getImageUrl(org.page.name, 'square')}}">
                        </div>
                        <div class="title">
                            <h3 class="panel-title">
                                {{org.orgName}}
                            </h3>
                        </div>
                    </div>
                    <div class="panel-body">
                        {{org.mission}}
                    </div>

                </div>

            </div>
        </div>

    </div>

</div>
