<div class="container-fluid">
  <div class="row-fluid">
    <div class="span6">
	
		<div class="row-fluid">
       		<legend>Thank Organizers!</legend>
      		<ul class="unstyled">

				<li ng-repeat="event in pastEvents.data">
					<div>
						<h3 ng-show="createHeader(event.startTime)">
					       {{event.startTime | date:'mediumDate'}}
					    </h3>
					    
					    	<div class="well well-small text-center row-fluid">
					    		
					    		
					    		<ul class="inline">
					    			<li class="pull-left">
					    				<strong>{{event.startTime | date:'mediumDate'}}</strong>
	    								    					
					    					
					    				    				
						    				<a href="#/event/{{event.key}}"><strong>{{event.title}} </strong></a> 
						    				<small class="muted">at {{event.location.title}}, {{event.location.address.city}}</small>
						    		
						    		</li>
						    	</ul>
						    </div>
					</div>
				</li>
			</ul>
      </div>

	</div>
	<div class="span6">

       <div class="row-fluid">
       		<legend>Thank participants!</legend>
      		<ul class="unstyled">

				<li ng-repeat="event in events.data">
					<div>
						<h3 ng-show="createHeader(event.startTime)">
					       {{event.startTime | date:'mediumDate'}}
					    </h3>
					    
					    	<div class="well well-small text-center row-fluid">
					    		
					    		
					    		<ul class="inline">
					    			<li class="pull-left">
					    				<strong>{{event.startTime | date:'mediumDate'}}</strong>
	    								    					
					    					
					    				    				
						    				<a href="#/event/{{event.key}}"><strong>{{event.title}} </strong></a> 
						    				<small class="muted">at {{event.location.title}}, {{event.location.address.city}}</small>
						    		
						    		</li>
						    	</ul>
						    </div>
					</div>
				</li>
			</ul>
      </div>
    </div>
  </div>
</div>

