<div class="container tour">

    <div class="row header">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
            <h1>Inspire one another to do good.</h1>
            <p>Karma Exchange not only makes it easy to search and sign up for volunteer events, but it also automatically tracks your impact and enables you to set monthly volunteering goals. Also, you can help your friends gain some karma by inviting them to an upcoming event. Join us, and be part of a community committed to giving back!</p>
        </div>
        <div class="col-md-2">
        </div>
    </div>
    <div class="row feature">
        <div class="col-md-6 info">
            <h2>Set monthly karma goals</h2>
            <p>
                Set a monthly karma goal and view your friends’ karma goals. Encourage each other to earn karma!
            </p>
        </div>
        <div class="col-md-6 image">
            <img src="img/tour/karma_goal_tracker.png" class="img-responsive" alt="Karma Goal Tracker" />
        </div>
    </div>
    <div class="row feature backwards">
        <div class="col-md-6 info">
            <h2>Search and register for events</h2>
            <p>
                Look for events that interest you. Search by location, time, activity type, or by events your friends are attending. Take a look at the detailed event description and event comments to find out additional information.
            </p>
        </div>
        <div class="col-md-6 image">
            <img src="img/tour/event_search_soccer.png" class="img-responsive" alt="Search events for soccer" />
        </div>
    </div>
    <div class="row feature">
        <div class="col-md-6 info">
            <h2>Encourage your friends to volunteer</h2>
            <p>
                Once you register for an event share it on facebook, twitter, or google+. It’s definitely good karma to help others earn karma. :)
            </p>
        </div>
        <div class="col-md-6 image">
            <img src="img/tour/share_event.png" class="img-responsive" alt="feature1" />
        </div>
    </div>
    <div class="row feature backwards last">
        <div class="col-md-6 info">
            <h2>View your impact and others impact</h2>
            <p>
                You can see the events you’ve attended and the impact you’ve made in the impact tab on your profile page. Check out your friends profile pages and organization profile pages and be inspired by the difference that you and others are making in your community.
            </p>
        </div>
        <div class="col-md-6 image">
            <img src="img/tour/impact_timeline.png" class="img-responsive" alt="feature3" />
        </div>
    </div>

    <div class="row footer">
        <div class="col-md-12">
            <button type="button" ng-click="login()" class="btn btn-primary btn-lg">
                <span ng-hide="isLoggedIn">Login and get started!</span>
                <span ng-show="isLoggedIn">Get started!</span>
            </button>
        </div>
    </div>

</div>
