<div class="container">

<div class="row">
    <div class="col-md-9">

        <div class="row">
            <div class="col-md-12">
                <h2>
                    <strong>
                        {{event.title}}
                    </strong>
                </h2>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">

                <div class="panel panel-default panel-no-margin">
                    <div class="panel-body panel-body-filled">

                        <div class="event-view-icon-img-div">
                            <div class="text-center">
                                <div class="event-view-icon-img-only-div">
                                    <i class="icon-calendar icon-white"></i>
                                </div>
                                <div>
                                    <small>
                                        <a href="//www.google.com/calendar/event?action=TEMPLATE&text={{event.title}}&dates={{event.startTime | date:'yyyyMMddThhmmss'}}/{{event.endTime|date:'yyyyMMddThhmmss'}}&details={{event.description|truncate:1000}}&location={{event.location.address.street}}, {{event.location.address.city}}, {{event.location.address.state}}, {{event.location.address.country}}, {{event.location.address.zip}}&trp=true&sprop=karmaexchange&sprop=name:{{location.host}}" target="_blank">
                                            Export
                                        </a>
                                    </small>
                                </div>
                            </div>
                        </div>
                        <div class="event-view-icon-text-div">

                            <div class="event-view-icon-text-big">
                                <strong>
                                    {{event.startTime | date:'EEEE, MMM d, y'}}
                                </strong>
                            </div>
                            <div class="event-view-icon-text-big">
                                <strong>
                                    {{event.startTime|date:'shortTime'}} to {{event.endTime|date:'shortTime'}}
                                </strong>
                            </div>

                        </div>

                    </div>
                </div>

                <div class="panel panel-default panel-seperated-vertical">
                    <div class="panel-body panel-body-filled">

                        <div class="event-view-icon-img-div">
                            <div class="text-center">

                                <div class="event-view-icon-img-only-div">
                                    <i class="icon-map-marker icon-white"></i>
                                </div>
                                <div>
                                    <small>
                                        <a href="//maps.google.com/?q={{event.location.address.street}}, {{event.location.address.city}}, {{event.location.address.state}}, {{event.location.address.zip}}, {{event.location.address.country}}" target="_blank">
                                            Map
                                        </a>
                                    </small>
                                </div>

                            </div>
                        </div>
                        <div class="event-view-icon-text-div">

                            <div class="event-view-icon-text-big">
                                <strong>
                                    {{event.location.title}}
                                </strong>
                            </div>
                            <div>
                                {{event.location.address.street}}
                                <br>
                                {{event.location.address.city}}, {{event.location.address.state}}, {{event.location.address.zip}}
                            </div>

                        </div>

                    </div>
                </div>


            </div>

            <div class="col-md-6">

                <div class="panel panel-default">
                    <div class="panel-body panel-body-filled text-center">

                        <div class="event-view-volunteers-needed" ng-show="event.status!='COMPLETED'">
                            {{event.maxRegistrations - event.registeredUsers.length | limit10Verbose }}
                        </div>

                        <div class="font-size-h4">
                            <event-registration-info
                                registration-info="event.registrationInfo"
                                type="'DETAILS'">
                            </event-registration-info>
                        </div>
                        <div class="event-view-action">
                            <div ng-show="event.registrationInfo=='ORGANIZER'">
                                <a href="#!/event/{{event.key}}/edit">Edit event</a>
                            </div>
                            <div ng-show="event.status!='COMPLETED'">
                                <div ng-show="event.registrationInfo=='REGISTERED'">
                                    <a href="" ng-click="unregister()">Unregister</a>
                                </div>
                                <div ng-show="event.registrationInfo=='WAIT_LISTED'">
                                    <a href="" ng-click="unregister()">Remove from waitlist</a>
                                </div>
                            </div>
                        </div>

                        <div ng-show="event.status!='COMPLETED'">
                            <button ng-show="{CAN_REGISTER:true}[event.registrationInfo]" class="btn btn-success" ng-click="register('REGISTERED')">
                                <i class="icon-ok icon-white">
                                </i>
                                Register
                            </button>
                            <button ng-show="{CAN_WAIT_LIST:true}[event.registrationInfo]" class="btn btn-success" ng-click="register('WAIT_LISTED')">
                                <i class="icon-ok icon-white">
                                </i>
                                Wait list
                            </button>
                        </div>

                        <div class="font-size-h3">
                            <karma-hours karma-points="event.karmaPoints"></karma-hours>
                        </div>
                        <div ng-show="event.status=='COMPLETED'" class="event-view-rating">
                            <aggregate-rating value="event.rating">
                            </aggregate-rating>
                        </div>

                        <div>
                            <share-buttons type="'event'" title="event.title" description="event.description" image="'//s3.mistinfo.com/32/d8/32d8eab76f4c242f665bda66b5edc6c5.jpg'">
                            </share-buttons>
                        </div>


                    </div>
                </div>

            </div>

        </div>


        <div class="row panel-seperated-vertical">
            <div class="col-md-12">
                <tabset>
                    <tab active="tabs.details.active" disabled="tabs.details.disabled" select="tabManager.select('details')">
                        <tab-heading>
                            <i class="icon-list"></i> Details
                        </tab-heading>



                        <div class="panel panel-default panel-no-margin">
                            <div class="panel-body panel-body-filled">

                                <div ng-show="event.description" class="event-description-sub-panel">
                                    <h4>
                                        <strong>
                                            Description
                                        </strong>
                                    </h4>

                                    <span ng-bind-html-unsafe="event.description | noHTML | newlines">
                                    </span>
                                </div>
                                <div ng-show="event.specialInstructions" class="event-description-sub-panel">
                                    <h4>
                                        <strong>
                                            Special instructions
                                        </strong>
                                    </h4>
                                    <span ng-bind-html-unsafe="event.specialInstructions | noHTML | newlines">
                                    </span>
                                </div>
                                <div class="event-description-sub-panel">
                                    <h4>
                                        <strong>
                                            Comments and discussion
                                        </strong>
                                    </h4>
                                    <kex-fb-comments href="{{KexUtil.getSEOUrl()}}" num-posts="20">
                                    </kex-fb-comments>
                                </div>

                            </div>
                        </div>

                    </tab>

                    <tab active="tabs.impact.active" disabled="tabs.impact.disabled" select="tabManager.select('impact')">
                        <tab-heading>
                            <i class="icon-bolt"></i> Impact
                        </tab-heading>


                        <div class="panel panel-default panel-no-margin">
                            <div class="panel-body panel-body-filled">

                                <div ng-show="EventUtil.canWriteReview(event)" class="event-impact-rating-sub-panel">
                                    <div ng-show="currentUserRating.value" class="event-impact-rating-text">
                                        Your rating of this event:
                                    </div>
                                    <div ng-hide="currentUserRating.value" class="event-impact-rating-text">
                                        How was the event?
                                    </div>
                                    <div class="event-impact-rating-stars">
                                        <event-user-rating user-rating="currentUserRating" event-key="event.key">
                                        </event-user-rating>
                                    </div>
                                </div>
                                <div class="event-impact-sub-panel">
                                    <div>
                                        <h4><strong>Impact summary</strong></h4>
                                    </div>
                                    <div ng-bind-html-unsafe="event.impactSummary | noHTML | newlines">
                                    </div>
                                </div>

                                <div class="event-impact-sub-panel" ng-show="impactImgs.length">
                                    <carousel interval="-1">
                                        <slide ng-repeat="img in impactImgs" active="img.active">
                                            <img ng-src="{{img.src}}" class="event-impact-img">
                                        </slide>
                                    </carousel>
                                </div>

                                <div class="event-impact-sub-panel">
                                    <h4>
                                        <strong>
                                            Event feedback
                                        </strong>
                                    </h4>
                                    <kex-fb-comments href="{{KexUtil.getSEOUrl()}}" num-posts="20">
                                    </kex-fb-comments>
                                </div>

                            </div>
                        </div>

                    </tab>
                </tabset>
            </div>
        </div>

<!--
        <div class="row" ng-show="event.status=='COMPLETED'" name="past-events-album">
            <img ng-src="{{KexUtil.urlStripProtocol(image.picture)}}" max-height="500">
            <carousel interval="myInterval">
                <slide ng-repeat="image in fbAlbum" active="slide.active">
                    <div class="col-md-12 pagination-centered">
                        <img ng-src="{{image.picture}}" max-height="500">
                    </div>
                    <div ng-show="image.name" class="carousel-caption">
                        <p>
                        </p>
                        <p>
                            {{image.name}}
                        </p>
                    </div>
                </slide>
            </carousel>
            <div class="fileupload fileupload-new" provides="fileupload">
                <div ng-show="isImageModelOpen" class="fileupload-preview thumbnail" style="width: 200px; height: 150px;">
                </div>
                <form name="fbPhotoUpload" action="https://graph.facebook.com/{{event.album.id}}/photos?access_token={{fbUtil.getAccessToken()}}"
                enctype="multipart/form-data" method="POST">
                    <span ng-hide="isImageModelOpen" class="btn btn-file" ng-click="openImageUpload()">
                        <span class="fileupload-new">
                            <i class="icon-plus">
                            </i>
                            Add a photo
                        </span>
                        <input class="form-control" id="source" type="file" />
                    </span>
                    <span ng-show="isImageModelOpen" class="fileupload-exists">
                        <input class="col-md-12 form-control" type="text" id="message" placeholder="Description">
                    </span>
                    <input type="submit" value="Upload" ng-show="isImageModelOpen" dismiss="fileupload" class="btn btn-primary fileupload-exists form-control"
                    onclick="document.fbPhotoUpload.submit()">
                    <a href="" class="btn fileupload-exists" dismiss="fileupload" ng-click="closeImageUpload()">Cancel</a>
                </form>
            </div>
        </div>
 -->

    </div>

    <div class="col-md-3">
        <div class="row">
            <div class="col-md-12">
                <div class="event-sidebar-panel-header">
                    Organized by
                </div>
                <div class="event-sidebar-element">
                    <org-event-summary org="event.organizationDetails"></org-event-summary>
                </div>
            </div>
        </div>

        <participants-sidebar
            fetched-participants="eventOrganizers"
            type="ORGANIZER"
            header="Organizers"
            participant-count="event.eventOrganizers.length"
            fetch-more="getMore(type)">
        </participants-sidebar>
        <participants-sidebar
            fetched-participants="eventRegistered"
            type="REGISTERED"
            header="Volunteers"
            participant-count="event.registeredUsers.length"
            fetch-more="getMore(type)">
        </participants-sidebar>
        <participants-sidebar
            fetched-participants="eventWaitListed"
            type="WAIT_LISTED"
            header="Waitlisted"
            participant-count="event.waitListedUsers.length"
            fetch-more="getMore(type)">
        </participants-sidebar>
    </div>
</div>

</div>
