
<div class="container-fluid">

    <div class="row-fluid">

        <div class="span10">

    

                <div class="span12 row-fluid well-large well">
                    <h2>{{event.title}} <div class="fb-like" data-href=""+window.location.href data-send="true" data-width="450" data-show-faces="true" data-colorscheme="dark" data-action="recommend"></div></h2> 
                    <div class="span6">   

                        
                        <p>{{event.startTime | date:'mediumDate'}} - {{event.startTime|date:'shortTime'}} - {{event.endTime|date:'shortTime'}}</p>
                    </div>
                    <div class="span6">
                        <p>Volunteers needed : <strong>{{event.maxRegistrations - event.registeredUsers.length | limit10}}</strong></p>
                        <p>Registered: <strong>{{event.registeredUsers.length}}</strong></p>
                        
                    </div>
                    <div class="row-fluid">
                        <p>{{event.location.address.street}}</p>



                        <p>{{event.location.address.city}}, {{event.location.address.state}}, <p>

                        <p>{{event.location.address.country}}, {{event.location.address.zip}}</p>
                    </div>
                    <p ng-hide="event.organizations.length==0">Benefitting : 
                        <ul class="inline"><li  ng-repeat="org in events.organizations">{{org.name}}</li></ul>
                    </p>
                    <div class="row-fluid">
                        
                            <div class="pull-left"><strong>{{event.karmaPoints}} karma points</strong></div>
                            <div class="pull-right">
                                <a ng-show="{ORGANIZER:true}[event.registrationInfo]"class="btn btn-success" href="#/event/{{event.key}}/edit"><i class="icon-ok icon-white"></i>Edit event</a>
                                
                                <button ng-show="{CAN_REGISTER:true}[event.registrationInfo]"class="btn btn-success" ng-click="register('REGISTERED')"><i class="icon-ok icon-white"></i>Register</button>
                                <button ng-show="{CAN_WAIT_LIST:true}[event.registrationInfo]"class="btn btn-success" ng-click="register('WAIT_LISTED')"><i class="icon-ok icon-white"></i>Wait list</button>
                                <p ng-show="{REGISTERED:true,WAIT_LISTED:true}[event.registrationInfo]"><i class="icon-ok"></i>You have registered!</p>
                            </div>

                             
                        

                        
                    </div>
                </div>
                        
                        <p ng-hide="event.causes.length==0">Causes 
                        <ul class="inline">
                            <li ng-repeat="cause in event.causes">
                                {{cause.id}}

                            </li>
                        </ul>
                        </p>
                        <div ng-show="event.status=='COMPLETED'" name="past-events-toolbox">
                            <h4>Rating</h4>

                            <p>Event rating<rating value="event.rating.value" max="5" readonly="true"></rating> </p>
                            
                            <p ng-hide="event.registrationInfo=='ORGANIZER'">Your rating<rating value="eventRating.rating.value" max="5" readonly="false"></rating></p>
                        </div>


                        <h4>What?</h4>
                        
                        <p ng-bind-html-unsafe="event.description | noHTML | newlines"/>
                        
                        <h4>Special instructions</h4>
                        <p ng-bind-html-unsafe="event.specialInstructions | noHTML | newlines"/>
                        
                        <input style="display:none" type="text"  class="span12" id="location-title" placeholder="Name of the place" >
                        
                        


                    
                        <p ng-hide="event.skillsRequired==0">Causes 
                        <ul class="inline">
                            <li ng-repeat="skill in event.skillsRequired">
                                {{skill.id}}

                            </li>
                        </ul>
                        </p>
                        <p ng-hide="event.skillsPreferred==0">Causes 
                        <ul class="inline">
                            <li ng-repeat="skill in event.skillsPreferred">
                                {{skill.id}}

                            </li>
                        </ul>
                        </p>
                         <legend>Comments and discussion</legend>
                         <div id="myCommentsDiv" class="row-fluid"></div>
         </div>                
  

        <div class="span2">
            
                <!--orgnaizers-->
                <p ng-hide="eventOrganizers.data.length==0"><h4>Organizers ({{event.organizers.length}})</h4>
                <hr>
                <ul class="inline">

                    <li ng-repeat="user in eventOrganizers.data">
                      
                                <a href="#/user/{{user.key}}"><img ng-src="{{user.profileImage.url}}?width=25&height=25"> <strong>{{user.firstName}} </strong> {{user.karmaPoints}}<i class="icon-bolt"></i></a>
                        
                              <p></p>  
                           
                            
                       
                    </li>
                </ul>
                <button class="btn btn-link" ng-show="event.eventOrganizers.length-eventOrganizers.data.length>0" ng-click="getMore('ORGANIZER');">See more ({{event.eventOrganizers.length-eventOrganizers.data.length}})</button>
                </p>
                        
           
                <p ng-hide="eventRegistered.data.length==0"><h4>Registered ({{event.registeredUsers.length}})</h4> 
                    <hr>
                        <ul class="inline">

                            <li ng-repeat="user in eventRegistered.data">
                               
                                       <a href="#/user/{{user.key}}"><img ng-src="{{user.profileImage.url}}?width=25&height=25"> <strong>{{user.firstName}} </strong> {{user.karmaPoints}}<i class="icon-bolt"></i></a>
                            
                                       
                                
                                    
                              
                                <p></p>
                            </li>

                        </ul>
                        <button class="btn btn-link" ng-show="event.registeredUsers.length-eventRegistered.data.length>0" ng-click="getMore('REGISTERED');">See more ({{event.registeredUsers.length-eventRegistered.data.length}})</button>
                </p>
        
            
                <p ng-hide="eventWaitListed.data.length==0"><h4>Waitlisted ({{event.waitListedUsers.length}})</h4> 
                    <hr>
                        <ul class="inline">

                            <li ng-repeat="user in eventWaitListed.data">
                              
                                        <a href="#/user/{{user.key}}"><img ng-src="{{user.profileImage.url}}?width=25&height=25"> <strong>{{user.firstName}} </strong> {{user.karmaPoints}}<i class="icon-bolt"></i></a>
                                 
                                        
                                
                               
                            </li>
                        </ul>
                        <button class="btn btn-link" ng-show="event.waitListedUsers.length-eventWaitListed.data.length>0" ng-click="getMore('WAIT_LISTED');">See more ({{event.waitListedUsers.length-eventWaitListed.data.length}})</button>
                </p>
           
        </div>
         
       
    </div>
    
        


</div>



