<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    version="2.5">

    <!-- Must be the first filter to get invoked. Since objectify state has to be cleaned up by
         this filter and the OAuthFilter updates objectify entities. -->
    <filter>
        <filter-name>ObjectifyFilter</filter-name>
        <filter-class>com.googlecode.objectify.ObjectifyFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ObjectifyFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>OAuthFilter</filter-name>
        <filter-class>org.karmaexchange.security.OAuthFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>OAuthFilter</filter-name>
        <url-pattern>/api/*</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>Jersey Web Application</servlet-name>
        <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>com.sun.jersey.config.property.packages</param-name>
            <param-value>org.karmaexchange.resources</param-value>
        </init-param>
        <init-param>
            <param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
            <param-value>true</param-value>
        </init-param>
        <!-- Required to handle Jersey WADL IllegalAccessError.
             http://stackoverflow.com/questions/14305035/jersey-setup-on-app-engine
        -->
        <init-param>
            <param-name>com.sun.jersey.config.feature.DisableWADL</param-name>
            <param-value>true</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Jersey Web Application</servlet-name>
        <url-pattern>/api/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteBlobServlet</servlet-name>
        <servlet-class>org.karmaexchange.task.DeleteBlobServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteBlobServlet</servlet-name>
        <url-pattern>/task/delete_blob</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ProcessRatingsServlet</servlet-name>
        <servlet-class>org.karmaexchange.task.ProcessRatingsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProcessRatingsServlet</servlet-name>
        <url-pattern>/task/process_ratings</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ProcessEventCompletionsServlet</servlet-name>
        <servlet-class>org.karmaexchange.task.ProcessEventCompletionsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProcessEventCompletionsServlet</servlet-name>
        <url-pattern>/task/process_event_completions</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddOrgAdminServlet</servlet-name>
        <servlet-class>org.karmaexchange.task.AddOrgAdminServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddOrgAdminServlet</servlet-name>
        <url-pattern>/task/add_org_admin</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UpdateNamedKeysAdminTaskServlet</servlet-name>
        <servlet-class>org.karmaexchange.task.UpdateNamedKeysAdminTaskServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateNamedKeysAdminTaskServlet</servlet-name>
        <url-pattern>/task/update_named_keys</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>PersistProductionResourcesServlet</servlet-name>
        <servlet-class>org.karmaexchange.bootstrap.PersistProductionResourcesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PersistProductionResourcesServlet</servlet-name>
        <url-pattern>/bootstrap/production_resources</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>PersistTestResourcesServlet</servlet-name>
        <servlet-class>org.karmaexchange.bootstrap.PersistTestResourcesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PersistTestResourcesServlet</servlet-name>
        <url-pattern>/bootstrap/test_resources</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GenerateDatastoreIndexesXmlServlet</servlet-name>
        <servlet-class>org.karmaexchange.bootstrap.GenerateDatastoreIndexesXmlServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GenerateDatastoreIndexesXmlServlet</servlet-name>
        <url-pattern>/bootstrap/datastore_indexes</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>FacebookRegistrationServlet</servlet-name>
        <servlet-class>org.karmaexchange.provider.FacebookRegistrationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FacebookRegistrationServlet</servlet-name>
        <url-pattern>/provider/fb/register</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>BootstrapFacebookRegistrationServlet</servlet-name>
        <servlet-class>org.karmaexchange.provider.BootstrapFacebookRegistrationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BootstrapFacebookRegistrationServlet</servlet-name>
        <url-pattern>/bootstrap/provider/fb/register</url-pattern>
    </servlet-mapping>

    <security-constraint>
        <web-resource-collection>
            <url-pattern>/task/*</url-pattern>
            <url-pattern>/bootstrap/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

</web-app>
